{"openapi":"3.1.0","info":{"title":"Rocketpunch Open API","description":"Rocketpunch Open API is a REST API for searching and integrating Rocketpunch jobs, events, posts, and related data.\n\n## Authentication\nPublic-data APIs use the `X-RP-API-Key` header. APIs that require user permissions use the `Authorization: Bearer <jwt>` header. Check each operation's `security` field for its authentication requirement.\n\n## Choosing an App Type\nChoose the app type that matches the APIs you plan to use.\n\n| Type | Meaning | Typical APIs |\n|---|---|---|\n| Simple API Key app | An app for reading public data. No user login is required. | Job, event, and post read APIs |\n| OAuth client app | An app where a Rocketpunch user logs in and grants permissions. | APIs that require user context, such as creating, updating, or deleting posts |\n\nPublic data read APIs are called with just the App Key (the `X-RP-API-Key` header).\nAPIs that require user permissions use an access token issued to an OAuth client app in the `Authorization: Bearer <jwt>` header.\n\n## OAuth 2.0 Authentication\nThis service hosts OAuth 2.0 Authorization Code + PKCE (S256) for user-context APIs.\n\n- Authorization screen: `GET /oauth/authorize`\n- Token issue/refresh: `POST /oauth/token`\n- Token revocation: `POST /oauth/revoke`\n- User information: `GET /oauth/userinfo` (`profile` scope required; `email` claim requires the `email` scope)\n\n## Rate Limits\nGlobal limit per App Key: **60 requests per minute / 5,000 requests per day**. Exceeding the limit returns `429` with `Retry-After`.\nSuccessful responses include the `X-RP-RateLimit-Remaining` header.\n\nSome user-context write operations also have operation-specific limits (per minute / per hour / per day).\nIf either the global limit or an operation-specific limit is exceeded, the API returns 429.\nWhen an operation-specific limit is exceeded, the response includes `X-RP-RateLimit-Scope` with the operation identifier.\nSuccessful responses may include `X-RP-RateLimit-Scope-Remaining`, the remaining calls for that operation in the current minute.\n\n| Operation identifier | Operations | Per minute | Per hour | Per day |\n|---|---|---:|---:|---:|\n| `post.create` | Create post | 2 | 10 | 50 |\n| `post.update` | Update post | 5 | 40 | 300 |\n| `post.delete` | Delete post | 2 | 10 | 30 |\n| `job.create` | Create job posting | 2 | 10 | 50 |\n| `job.update` | Update job posting | 5 | 40 | 300 |\n| `job.delete` | Delete job posting | 2 | 10 | 30 |\n| `job.publish` | Publish job posting | 5 | 30 | 150 |\n| `job.disable` | Deactivate job posting | 5 | 30 | 150 |\n| `event.create` | Create event | 2 | 10 | 50 |\n| `event.update` | Update event | 5 | 40 | 300 |\n| `event.delete` | Delete event | 2 | 10 | 30 |\n| `event.sub.create` | Create event sessions, FAQs, hosts, or tickets | 10 | 100 | 500 |\n| `event.sub.update` | Update event sessions, FAQs, hosts, or tickets | 15 | 150 | 800 |\n| `event.sub.delete` | Delete event sessions, FAQs, hosts, or tickets | 10 | 100 | 400 |\n\n## Localization (Accept-Language)\nResponse language is selected by the `Accept-Language` header. The default is `ko`.\n\nSupported locales for code catalog labels (`/v1/codes/*`):\n\n| Code | Language | Note |\n|---|---|---|\n| `ko` | Korean | Default |\n| `en` | English | |\n| `ja` | Japanese | |\n| `zh-CN` | Simplified Chinese | Mainland China |\n| `zh-TW` | Traditional Chinese | Taiwan and Hong Kong |\n| `es` | Spanish | |\n| `fr` | French | |\n| `de` | German | |\n| `pt` | Portuguese | |\n| `th` | Thai | |\n| `vi` | Vietnamese | |\n\nBody translations for jobs, events, and posts are provided only for `en`, `ja`, `zh-CN`, and `zh-TW`. Other languages return the original content.\n\n## Pagination\nList and search responses use page-based pagination.\n- `page`: page number to retrieve. Starts at **1** (default: `1`). Values below 1 are normalized to 1.\n- `pageSize`: items per page. Default `20`, **maximum `50`**. Out-of-range values are normalized to 1-50.\n\nResponses include these common fields:\n- `totalItems`: total number of matched items\n- `totalPages`: total pages (`ceil(totalItems / pageSize)`)\n- `page` / `pageSize`: the normalized page number and size\n- `items`: items on the current page\n\nIf `page` is greater than `totalPages`, the API returns an empty `items` array without an error.\n\n## Errors\nAll non-2xx responses use the same `ErrorResponse` format.\n\n### Error Response Format\n```json\n{\n  \"code\": \"C0005\",\n  \"message\": \"pageSize must be 50 or less. Input: 51\",\n  \"timestamp\": \"2026-05-20T09:00:00\",\n  \"details\": \"pageSize\"\n}\n```\n\n| Field | Description |\n|---|---|\n| `code` | Error code. Use one of the values in the table below for client-side branching |\n| `message` | Human-readable error message |\n| `timestamp` | Time when the error occurred (UTC) |\n| `details` | Problem field or reason. `null` when unavailable |\n\n### Error Codes\n| HTTP | code | Meaning |\n|---|---|---|\n| 401 | C0001 | Missing or invalid API Key |\n| 400 | C0002 | Invalid input format |\n| 400 | C0005 | Query parameter validation failed |\n| 404 | C0008 / EV001 / R0001 / P0002 | Resource not found |\n| 429 | C0010 | Rate limit exceeded |\n| 500 | C9999 | Server error |","version":"1.0 beta"},"servers":[{"url":"https://openapi.rocketpunch.com","description":"Production"}],"security":[{"apiKey":[]}],"tags":[{"name":"OAuth Authorization","description":"Start of the Authorization Code + PKCE flow. Send the user to `GET /oauth/authorize`; after login and consent, a one-time authorization code is delivered to the registered redirect_uri. If an existing valid consent already covers the requested scopes, the consent screen is skipped. Exchange this code for an access token in OAuth Token."},{"name":"Posts","description":"Post read, create, update, and delete APIs"},{"name":"Codes","description":"Code lists used by search filters. Pass the response `code` value directly as a search parameter. `displayName` is localized by Accept-Language."},{"name":"OAuth UserInfo","description":"Returns user claims compatible with the OIDC Standard Claims shape. This does not make the service a full OIDC Provider or issue ID Tokens."},{"name":"OAuth Token","description":"Exchange an authorization code or refresh token for an access token (`POST /oauth/token`) and revoke tokens that are no longer used (`POST /oauth/revoke`). Use issued access tokens as `Authorization: Bearer` for user-context API calls."},{"name":"Events","description":"Event read, create, update, delete, and sub-resource APIs"},{"name":"Jobs","description":"Job posting read, create, update, and delete APIs"},{"name":"Me","description":"My account and permission APIs"}],"paths":{"/api/v1/posts/{postId}":{"get":{"tags":["Posts"],"summary":"Get post details","description":"Returns details for a single post.","operationId":"getPost","parameters":[{"name":"postId","in":"path","description":"Post ID","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0},"example":9876543},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"Success. Reposted source posts are expanded by one level only. Additional reposts inside the expanded source are not included; nested `reposted` is null.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDetailResponse"}}}},"404":{"description":"The post does not exist, or the author is deleted, blocked, or withdrawn (P0002).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"put":{"tags":["Posts"],"summary":"Update post","description":"The OAuth-authenticated author updates their own post body and Open Graph data. Upload the JSON body and 0-10 images as multipart/form-data. Requires the `post:write` scope.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `post:write`.","operationId":"updatePost","parameters":[{"name":"postId","in":"path","description":"Post ID","required":true,"schema":{"type":"integer","format":"int64"},"example":12345678},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/UpdatePostRequest"},"images":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["request"]}}},"required":true},"responses":{"200":{"description":"Updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostWriteResponse"}}}},"403":{"description":"Insufficient scope or the caller is not the author (P0003).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The post does not exist (P0002).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Image validation failed (P0010 count / P0011 size / P0012 format) or request validation failed (C0005).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"502":{"description":"Image processing failed (P0013).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Posts"],"summary":"Delete post","description":"The OAuth-authenticated author deletes their own post. Associated images, mentions, translations, and cards are also cleaned up. Requires the `post:write` scope.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `post:write`.","operationId":"deletePost","parameters":[{"name":"postId","in":"path","description":"Post ID","required":true,"schema":{"type":"integer","format":"int64"},"example":12345678},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"Deleted successfully (empty body)."},"403":{"description":"Insufficient scope or the caller is not the author (P0003).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"The post does not exist (P0002).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/jobs/{jobId}/active":{"put":{"tags":["Jobs"],"summary":"Publish job","description":"Authentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `job:write`.","operationId":"publishJob","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"companyId","in":"query","description":"Company handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobActiveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWriteResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Jobs"],"summary":"Deactivate job","description":"Authentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `job:write`.","operationId":"disableJob","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"companyId","in":"query","description":"Company handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWriteResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/oauth/token":{"post":{"tags":["OAuth Token"],"summary":"Issue / refresh token","description":"Issues or refreshes a user-context access token. With `grant_type=authorization_code`, use the `code` from `/oauth/authorize` and the PKCE `code_verifier`; with `grant_type=refresh_token`, use the `refresh_token`. Send the returned `access_token` as `Authorization: Bearer <jwt>` for user-context `/api/v1/**` and `/oauth/userinfo` calls. Client authentication is HTTP Basic or `client_id`/`client_secret` in the request body.","operationId":"oauthToken","parameters":[{"name":"Authorization","in":"header","description":"Basic base64(client_id:client_secret) - optional when using client_id/client_secret in the form body","required":false,"schema":{"type":"string"}},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"oneOf":[{"$ref":"#/components/schemas/OAuthAuthorizationCodeTokenRequest"},{"$ref":"#/components/schemas/OAuthRefreshTokenRequest"}]}}}},"responses":{"200":{"description":"Token issued successfully","headers":{"Cache-Control":{"description":"no-store","style":"simple","schema":{"type":"string"}},"Pragma":{"description":"no-cache","style":"simple","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthTokenResponse"}}}},"400":{"description":"invalid_request / invalid_grant / unsupported_grant_type / invalid_scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthErrorResponse"}}}},"401":{"description":"invalid_client","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthErrorResponse"}}}},"500":{"description":"server_error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[]}},"/oauth/revoke":{"post":{"tags":["OAuth Token"],"summary":"Revoke token","description":"Revokes a refresh token. A nonexistent or already revoked token is also treated as successful.","operationId":"oauthRevoke","parameters":[{"name":"Authorization","in":"header","description":"Basic base64(client_id:client_secret) - optional when using client_id/client_secret in the form body","required":false,"schema":{"type":"string"}},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/OAuthRevokeRequest"}}}},"responses":{"200":{"description":"Revocation request processed"},"400":{"description":"A required request value is missing","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"invalid_client","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[]}},"/api/v1/posts":{"get":{"tags":["Posts"],"summary":"Search and list posts","description":"Search and retrieve posts with pagination.","operationId":"searchPosts","parameters":[{"name":"keyword","in":"query","description":"Body keyword","required":false,"schema":{"type":"string","maxLength":100,"minLength":0}},{"name":"companyId","in":"query","description":"Company handle to search","required":false,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"}},{"name":"hasImages","in":"query","description":"Only posts with images","required":false,"schema":{"type":"boolean"}},{"name":"hasOg","in":"query","description":"Only posts with Open Graph data","required":false,"schema":{"type":"boolean"}},{"name":"postedAfter","in":"query","description":"Posted at >= (ISO datetime)","required":false,"schema":{"type":"string"}},{"name":"postedBefore","in":"query","description":"Posted at <= (ISO datetime)","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number to retrieve (starts at 1, default 1)","required":false,"schema":{"type":"integer","format":"int32","minimum":1},"example":1},{"name":"pageSize","in":"query","description":"Page size (1-50, default 20)","required":false,"schema":{"type":"integer","format":"int32","maximum":50,"minimum":1},"example":20},{"name":"sort","in":"query","description":"Sort order (RELEVANCE: relevance, default; RECENT: newest)","required":false,"schema":{"type":"string","enum":["RELEVANCE","RECENT"]},"example":"RELEVANCE"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponsePostSummaryResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"post":{"tags":["Posts"],"summary":"Create post","description":"An OAuth-authenticated user creates a new post with body and Open Graph data. Upload the JSON body and 0-10 images as multipart/form-data. Requires the `post:write` scope.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `post:write`.","operationId":"createPost","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/CreatePostRequest"},"images":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["request"]}}},"required":true},"responses":{"201":{"description":"Created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostWriteResponse"}}}},"403":{"description":"Insufficient scope (missing `post:write`).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Image validation failed (P0010 count / P0011 size / P0012 format) or request validation failed (C0005).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"502":{"description":"Image processing failed (P0013).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/jobs/platform":{"post":{"tags":["Jobs"],"summary":"Create job","description":"Creates a job posting for which Rocketpunch provides application intake and management. Requires the `job:write` scope. Upload the JSON body and 0-10 images as multipart/form-data.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `job:write`.","operationId":"createJob","parameters":[{"name":"companyId","in":"query","description":"Company handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/CreateJobRequest"},"images":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["request"]}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWriteResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events":{"get":{"tags":["Events"],"summary":"Search and list events","description":"Searches and filters events with pagination. Filter by keyword, category, subject, location, period, and status. Results are sorted by nearest start date first.","operationId":"searchEvents","parameters":[{"name":"keyword","in":"query","description":"Event name/description keyword","required":false,"schema":{"type":"string","maxLength":100,"minLength":0}},{"name":"categories","in":"query","description":"Category code. See /v1/codes/event-categories","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"subjects","in":"query","description":"Subject code. See /v1/codes/event-subjects","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"openTypes","in":"query","description":"Open type: OFFLINE / ONLINE / ON_OFFLINE / TBD","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"startDateFrom","in":"query","description":"Start date >= (YYYY-MM-DD)","required":false,"schema":{"type":"string"},"example":"2026-06-01"},{"name":"startDateTo","in":"query","description":"Start date <= (YYYY-MM-DD)","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"Status filter based on event dates. UPCOMING (before start), ONGOING, CLOSED (after end).","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number to retrieve (starts at 1, default 1)","required":false,"schema":{"type":"integer","format":"int32","minimum":1},"example":1},{"name":"pageSize","in":"query","description":"Page size (1-50, default 20)","required":false,"schema":{"type":"integer","format":"int32","maximum":50,"minimum":1},"example":20},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEventSummaryResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"post":{"tags":["Events"],"summary":"Create event","description":"Creates an event for the authenticated user.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"createEvent","parameters":[{"name":"companyId","in":"query","description":"Company handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/CreateEventRequest"},"banner":{"type":"string","format":"binary"},"attachments":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["banner","request"]}}},"required":true},"responses":{"201":{"description":"Created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventWriteResponse"}}}},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Invalid request.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/tickets/free":{"post":{"tags":["Events"],"summary":"Create free event ticket","description":"Creates a free ticket for an event.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"createFreeEventTicket","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFreeTicketRequest"}}},"required":true},"responses":{"201":{"description":"Created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TicketWriteResponse"}}}},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Invalid request.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/tickets/charged":{"post":{"tags":["Events"],"summary":"Create paid event ticket","description":"Creates a paid ticket for an event.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"createChargedEventTicket","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChargedTicketRequest"}}},"required":true},"responses":{"201":{"description":"Created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TicketWriteResponse"}}}},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Invalid request.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/sessions":{"get":{"tags":["Events"],"summary":"List event sessions (timetable)","description":"Returns event sessions grouped by time slot. Returns an empty array when there are no sessions, or 404 (EV001) when the event does not exist.","operationId":"getEventSessions","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string","maxLength":64,"minLength":0},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"Success. Empty array when there are no sessions.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventSessionTimeSlotResponse"}}}}},"404":{"description":"The event does not exist (EV001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"post":{"tags":["Events"],"summary":"Create event session","description":"Creates a session for an event.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"createEventSession","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionRequest"}}},"required":true},"responses":{"201":{"description":"Created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionWriteResponse"}}}},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/hosts":{"post":{"tags":["Events"],"summary":"Add event host","description":"Adds a host to an event.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"addEventHost","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddHostRequest"}}},"required":true},"responses":{"201":{"description":"Created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HostWriteResponse"}}}},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/faqs":{"get":{"tags":["Events"],"summary":"List event FAQs","description":"Returns event FAQs grouped by category. Returns an empty array when there are no FAQs, or 404 (EV001) when the event does not exist.","operationId":"getEventFaqs","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string","maxLength":64,"minLength":0},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"Success. Empty array when there are no FAQs.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventFaqCategoryResponse"}}}}},"404":{"description":"The event does not exist (EV001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"post":{"tags":["Events"],"summary":"Create event FAQ","description":"Creates an FAQ for an event.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"createEventFaq","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFaqRequest"}}},"required":true},"responses":{"201":{"description":"Created successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaqWriteResponse"}}}},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/jobs/{jobId}":{"get":{"tags":["Jobs"],"summary":"Get job details","description":"Returns details for a single job. All jobs except deleted and draft jobs return 200, including published, finished, and expired published jobs. Use the `status` and `hiring` fields to determine the current visibility state. Treat the job as open for applications only when `status==\"published\" && hiring==true`. For other cases (`hiring==false` or `status==\"finish\"`), disable the apply button or show a closed badge.","operationId":"getJob","parameters":[{"name":"jobId","in":"path","description":"Job ID","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0},"example":9001234},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobDetailResponse"}}}},"404":{"description":"The job does not exist or is in draft state (R0001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"delete":{"tags":["Jobs"],"summary":"Delete job","description":"Soft-deletes a job posting. Requires the `job:write` scope.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `job:write`.","operationId":"deleteJob","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"companyId","in":"query","description":"Company handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"Deleted"},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Jobs"],"summary":"Partially update job","description":"Partially updates a PLATFORM job posting. Only submitted fields are changed. `type=PLATFORM` is required. Requires the `job:write` scope.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `job:write`.","operationId":"updatePlatformJob","parameters":[{"name":"type","in":"query","description":"Job type to update. The supported value is PLATFORM.","required":true,"schema":{"type":"string","enum":["PLATFORM"]},"example":"PLATFORM"},{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"companyId","in":"query","description":"Company handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/UpdateJobRequest"},"images":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["request"]}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWriteResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}":{"get":{"tags":["Events"],"summary":"Get event details","description":"Returns event details by event ID. A nonexistent event returns 404 (EV001).","operationId":"getEvent","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string","maxLength":64,"minLength":0},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"Success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventDetailResponse"}}}},"404":{"description":"The event does not exist (EV001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"delete":{"tags":["Events"],"summary":"Delete event","description":"Permanently deletes an event. Requires the `event:write` scope.\n\nOnly events that have no tickets and no participants can be deleted. Deleting an event permanently removes the event and all of its sub-data (sessions, FAQs, tags, translations, hosts, attachments, etc.).\nEvents that have tickets or participants cannot be deleted via this API (409); delete them on the RocketPunch Enterprise web.","operationId":"deleteEvent","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"Deleted successfully (empty body). The event and all of its sub-data are permanently removed."},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Cannot delete because the event has tickets or participants (EV022). Delete it on the RocketPunch Enterprise web.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Events"],"summary":"Update event","description":"Partially updates an event.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"patchEvent","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/EventPatchRequest"},"banner":{"type":"string","format":"binary"}},"required":["request"]}}},"required":true},"responses":{"200":{"description":"Updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventWriteResponse"}}}},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/tickets/{ticketId}":{"delete":{"tags":["Events"],"summary":"Delete event ticket","description":"Deletes an event ticket.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"deleteEventTicket","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"ticketId","in":"path","description":"Ticket ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"Deleted successfully (empty body)."},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Events"],"summary":"Update event ticket","description":"Partially updates an event ticket.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"patchEventTicket","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"ticketId","in":"path","description":"Ticket ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTicketRequest"}}},"required":true},"responses":{"200":{"description":"Updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TicketWriteResponse"}}}},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/sessions/{sessionId}":{"delete":{"tags":["Events"],"summary":"Delete event session","description":"Deletes an event session.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"deleteEventSession","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"sessionId","in":"path","description":"Session ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"Deleted successfully (empty body)."},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Events"],"summary":"Update event session","description":"Partially updates an event session.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"patchEventSession","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"sessionId","in":"path","description":"Session ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchSessionRequest"}}},"required":true},"responses":{"200":{"description":"Updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionWriteResponse"}}}},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/hosts/{hostId}":{"delete":{"tags":["Events"],"summary":"Remove event host","description":"Removes a host from an event.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"removeEventHost","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"hostId","in":"path","description":"Host ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"Deleted successfully (empty body)."},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Events"],"summary":"Update event host role","description":"Updates the role for an event host.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"updateEventHostRole","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"hostId","in":"path","description":"Host ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateHostRoleRequest"}}},"required":true},"responses":{"200":{"description":"Updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HostWriteResponse"}}}},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/faqs/{faqId}":{"delete":{"tags":["Events"],"summary":"Delete event FAQ","description":"Deletes an event FAQ.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"deleteEventFaq","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"faqId","in":"path","description":"FAQ ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"Deleted successfully (empty body)."},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Events"],"summary":"Update event FAQ","description":"Partially updates an event FAQ.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `event:write`.","operationId":"patchEventFaq","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"faqId","in":"path","description":"FAQ ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchFaqRequest"}}},"required":true},"responses":{"200":{"description":"Updated successfully.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaqWriteResponse"}}}},"403":{"description":"Insufficient scope or permission denied.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/oauth/userinfo":{"get":{"tags":["OAuth UserInfo"],"summary":"Get OAuth user information","description":"Returns claims compatible with the OIDC UserInfo Standard Claims shape. The `profile` scope is required, and the email claim is included only when the access token also has the `email` scope. This endpoint does not issue ID Tokens.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `profile`.","operationId":"getOAuthUserInfo","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"Success. Optional claims that are not authorized or unavailable are omitted.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthUserInfoResponse"}}}},"401":{"description":"Bearer access token is missing or invalid. Returns a `WWW-Authenticate` challenge."},"403":{"description":"Missing the `profile` scope (C0011). Returns a `WWW-Authenticate` insufficient_scope challenge.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/oauth/authorize":{"get":{"tags":["OAuth Authorization"],"summary":"Authorization screen / consent","description":"Step 1 of the OAuth 2.0 Authorization Code + PKCE (S256) flow. Redirect the user to this URL; after Rocketpunch login and consent, a one-time `code` and `state` are returned to the registered redirect_uri. Success returns 302 with `code`+`state`; user denial returns 302 with `error`+`state`; an unregistered client_id or redirect_uri mismatch returns a 400 HTML page without redirect. The currently consentable scopes are `profile` and `email`, and requested scopes are approved or denied together. Exchange the received `code` with `code_verifier` at `POST /oauth/token` (`grant_type=authorization_code`). `code_challenge = BASE64URL(SHA256(code_verifier))`.","operationId":"oauthAuthorize","parameters":[{"name":"response_type","in":"query","description":"Always code","required":true,"schema":{"type":"string"}},{"name":"client_id","in":"query","description":"Registered OAuth client ID","required":true,"schema":{"type":"string"}},{"name":"redirect_uri","in":"query","description":"Must exactly match a pre-registered redirect URI","required":true,"schema":{"type":"string"}},{"name":"scope","in":"query","description":"Requested scopes (space-separated)","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","description":"Opaque value for CSRF protection (recommended)","required":false,"schema":{"type":"string"}},{"name":"code_challenge","in":"query","description":"PKCE code challenge (BASE64URL(SHA256(verifier)))","required":true,"schema":{"type":"string"}},{"name":"code_challenge_method","in":"query","description":"Always S256","required":true,"schema":{"type":"string"}},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"Consent screen (HTML)","content":{"text/html":{}}},"302":{"description":"Authorization result redirect (success: code+state, failure: error+error_description+state per RFC 6749 §4.1.2.1)","headers":{"Location":{"description":"callback URL with query params","style":"simple","schema":{"type":"string"}}},"content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"Unregistered client_id or redirect_uri mismatch - HTML error page, no redirect","content":{"text/html":{}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[]}},"/api/v1/me/company-permissions":{"get":{"tags":["Me"],"summary":"List my company-wide permissions","description":"Returns a list of companies where the authenticated user holds company-wide roles, along with the capabilities (Open API operations) available at each company. Companies where the user only has resource-level roles are excluded (use resource-roles for those). Requires `company:manage:read` scope.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `company:manage:read`.","operationId":"getMyCompanyPermissions","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"Success. Returns an empty array if the user holds no company-wide roles.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeCompanyPermissionsResponse"}}}},"403":{"description":"Insufficient scope (missing `company:manage:read`, C0011).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/me/company-permissions/{companyPermalink}/resource-roles":{"get":{"tags":["Me"],"summary":"Query resource-level roles (precise check / list)","description":"Returns the aggregated roles and capabilities for a specific resource (event or job). If resourceId is specified, performs a precise check (0 or 1 result); otherwise returns a paginated list of resources for which roles were explicitly granted. Response always contains an `items` list. Requires `company:manage:read` scope.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `company:manage:read`.","operationId":"getMyResourceRoles","parameters":[{"name":"companyPermalink","in":"path","description":"Company identifier (permalink)","required":true,"schema":{"type":"string"},"example":"rocketpunch"},{"name":"resourceType","in":"query","description":"Resource type (EVENT or JOB)","required":true,"schema":{"type":"string"},"example":"EVENT"},{"name":"resourceId","in":"query","description":"Resource identifier for an exact check (string). Omit to use list mode.","required":false,"schema":{"type":"string"},"example":9876},{"name":"page","in":"query","description":"Page number for list mode (starts at 1)","required":false,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"pageSize","in":"query","description":"Page size for list mode (1-50, default 20)","required":false,"schema":{"type":"integer","format":"int32"},"example":20},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"Success. Returns an empty items array if the user has no matching roles.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeResourceRolesResponse"}}}},"403":{"description":"Insufficient scope (C0011).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Company not found for the given permalink (C0008).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"Missing or invalid resourceType (must be EVENT or JOB, C0005).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/jobs":{"get":{"tags":["Jobs"],"summary":"Search and list jobs","description":"Searches actively hiring jobs with pagination. Multiple values in the same filter are combined with OR; different filters are combined with AND.","operationId":"searchJobs","parameters":[{"name":"keyword","in":"query","description":"Title/body keyword","required":false,"schema":{"type":"string","maxLength":100,"minLength":0}},{"name":"companyId","in":"query","description":"Company handle to search","required":false,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"}},{"name":"jobCategories","in":"query","description":"Job category code. See /v1/codes/job-categories","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"seniorities","in":"query","description":"Seniority: BEGINNER/JUNIOR/MIDLEVEL/SENIOR/EXECUTIVE","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"employmentTypes","in":"query","description":"Employment type. See /v1/codes/employment-types","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"companySizes","in":"query","description":"Company size: TINY/SMALL/MEDIUM/LARGE/HUGE","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"workTypes","in":"query","description":"Workplace type: ONSITE/HYBRID/REMOTE","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort","in":"query","description":"Sort order: RELEVANCE_DESC (relevance, default) / DATE_DESC (newest) / POPULARITY_DESC (popular)","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number to retrieve (starts at 1, default 1)","required":false,"schema":{"type":"integer","format":"int32","minimum":1},"example":1},{"name":"pageSize","in":"query","description":"Page size (1-50, default 20)","required":false,"schema":{"type":"integer","format":"int32","maximum":50,"minimum":1},"example":20},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseJobSummaryResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/events/{eventId}/tickets":{"get":{"tags":["Events"],"summary":"List event tickets","description":"Returns event tickets in display order. Returns an empty array when there are no tickets, or 404 (EV001) when the event does not exist.","operationId":"getEventTickets","parameters":[{"name":"eventId","in":"path","description":"Event ID","required":true,"schema":{"type":"string","maxLength":64,"minLength":0},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"Success. Empty array when there are no tickets.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventTicketResponse"}}}}},"404":{"description":"The event does not exist (EV001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/companies/{companyId}/jobs/accessible":{"get":{"tags":["Jobs"],"summary":"List accessible company jobs","description":"Returns only company jobs that the caller is allowed to view. With ENT_JOB_LIST, all company jobs are returned; otherwise, only jobs with ENT_JOB_VIEW item-level permission are returned. Requires the `job:manage:read` scope.\n\nAuthentication: The `Authorization: Bearer <jwt>` header is required.\n\nRequired OAuth scope: `job:manage:read`.","operationId":"listAccessibleCompanyJobs","parameters":[{"name":"companyId","in":"path","description":"Company handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseJobWriteResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/codes/seniorities":{"get":{"tags":["Codes"],"summary":"Seniority code","description":"Filter values for `seniorities` in job search.","operationId":"getSeniorities","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/job-industries":{"get":{"tags":["Codes"],"summary":"Job industry code","description":"Industry filter values for job search. Returned as a level 1-3 hierarchy.","operationId":"getJobIndustries","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobIndustryCodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/job-categories":{"get":{"tags":["Codes"],"summary":"Job category code","description":"Filter values for `jobCategories` in job search.","operationId":"getJobCategories","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/event-subjects":{"get":{"tags":["Codes"],"summary":"Event subject code","description":"Filter values for `subjects` in event search.","operationId":"getEventSubjects","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/event-categories":{"get":{"tags":["Codes"],"summary":"Event category code","description":"Filter values for `categories` in event search.","operationId":"getEventCategories","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/employment-types":{"get":{"tags":["Codes"],"summary":"Employment type code","description":"Filter values for `employmentTypes` in job search.","operationId":"getEmploymentTypes","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}}},"components":{"schemas":{"ErrorResponse":{"description":"Common error response","properties":{"code":{"type":"string","description":"Error code (see the error code table)","example":"C0005"},"message":{"type":"string","description":"Human-readable error message (dynamic text including the violated rule and input value)","example":"pageSize must be 50 or less. Input: 51"},"timestamp":{"type":"string","format":"date-time","example":"2026-05-20T09:00:00"},"details":{"oneOf":[{"type":"string","description":"Input field associated with the error","example":"startDate"},{"type":"null"}]}},"required":["code","message","timestamp"]},"OpenGraphRequest":{"type":"object","properties":{"link":{"type":"string","description":"Source link. The server crawls this URL and fills Open Graph metadata (title/source/image/description).","example":"https://example.com","maxLength":200,"minLength":0}},"required":["link"]},"UpdatePostRequest":{"type":"object","properties":{"text":{"type":"string","description":"Post body (up to 5,000 characters)","example":"Updated post body content","maxLength":5000,"minLength":0},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphRequest"},{"type":"null"}]}},"required":["text"]},"OpenGraphResponse":{"type":"object","properties":{"link":{"type":"string","description":"Source link"},"title":{"type":["string","null"],"description":"OG title"},"source":{"type":["string","null"],"description":"OG source"},"image":{"type":["string","null"],"description":"OG image (external absolute URL)"},"description":{"type":["string","null"],"description":"OG description"}},"required":["link"]},"PostImageResponse":{"type":"object","description":"Post image","properties":{"id":{"type":"integer","format":"int32","description":"core_media.id","example":12345},"url":{"type":"string","description":"Absolute image URL","example":"https://cdn.example.com/images/2026/5/30/abcdef.jpg"},"width":{"type":["integer","null"],"format":"int32","description":"Image width in px. `null` if measurement fails.","example":1920},"height":{"type":["integer","null"],"format":"int32","description":"Image height in px. `null` if measurement fails.","example":1080}},"required":["id","url"]},"PostWriteResponse":{"type":"object","description":"Post create/update response","properties":{"postId":{"type":"integer","format":"int64","description":"Post ID","example":12345678},"content":{"type":"string","description":"Post body"},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphResponse"},{"type":"null"}]},"images":{"type":"array","description":"Attached images (0-10).","items":{"$ref":"#/components/schemas/PostImageResponse"}},"webUrl":{"type":"string","description":"Post web URL","example":"https://www.rocketpunch.com/post/12345678"},"postedAt":{"type":"string","description":"Posted at (ISO 8601 UTC)","example":"2026-05-29T09:00:00Z"},"updatedAt":{"type":"string","description":"Updated at (ISO 8601 UTC)","example":"2026-05-29T09:00:00Z"}},"required":["content","images","postId","postedAt","updatedAt","webUrl"]},"JobActiveRequest":{"type":"object","properties":{"startDate":{"oneOf":[{"type":"string","format":"date"},{"type":"null"}]},"endDate":{"oneOf":[{"type":"string","format":"date"},{"type":"null"}]}}},"JobWriteResponse":{"type":"object","properties":{"jobId":{"type":"integer","format":"int64"},"status":{"type":"string"},"hiring":{"type":"boolean"},"title":{"type":"string"},"subtitle":{"type":["string","null"]},"jobCategory":{"type":["string","null"]},"seniorities":{"type":"array","items":{"type":"string"}},"employmentTypes":{"type":"array","items":{"type":"string"}},"workType":{"type":["string","null"]},"startAt":{"type":["string","null"]},"endAt":{"type":["string","null"]},"webUrl":{"type":"string"}},"required":["employmentTypes","hiring","jobId","seniorities","status","title","webUrl"]},"OAuthAuthorizationCodeTokenRequest":{"description":"Token exchange request with grant_type=authorization_code","properties":{"grant_type":{"type":"string","enum":["authorization_code"],"example":"authorization_code"},"code":{"type":"string","description":"One-time code received from GET /oauth/authorize"},"redirect_uri":{"type":"string","description":"Must exactly match the authorize step","example":"https://builder.example.com/callback"},"code_verifier":{"type":"string","description":"PKCE verifier (43-128 characters, [A-Za-z0-9._~-])","maxLength":128,"minLength":43},"client_id":{"type":"string","description":"Optional when using Basic Auth"},"client_secret":{"type":"string","description":"Optional when using Basic Auth"}},"required":["code","code_verifier","grant_type","redirect_uri"]},"OAuthRefreshTokenRequest":{"description":"Refresh request with grant_type=refresh_token","properties":{"grant_type":{"type":"string","enum":["refresh_token"],"example":"refresh_token"},"refresh_token":{"type":"string","description":"Refresh token to use for renewal","example":"rt_..."},"scope":{"type":"string","description":"Subset of the original scopes (downscope only)"},"client_id":{"type":"string","description":"Optional when using Basic Auth"},"client_secret":{"type":"string","description":"Optional when using Basic Auth"}},"required":["grant_type","refresh_token"]},"OAuthTokenResponse":{"type":"object","description":"RFC 6749 Section 5.1 token response","properties":{"access_token":{"type":"string","description":"Bearer access token (JWT)","example":"eyJhbGciOiJSUzI1NiJ9..."},"token_type":{"type":"string","description":"Token type - always Bearer","example":"Bearer"},"expires_in":{"type":"integer","format":"int64","description":"Access token lifetime in seconds","example":3600},"refresh_token":{"type":"string","description":"Plain refresh token (one-time use)","example":"rt_a1b2c3d4..."},"scope":{"type":"string","description":"Issued scopes (space-separated)","example":"profile:read"}},"required":["access_token","expires_in","refresh_token","scope","token_type"]},"OAuthErrorResponse":{"type":"object","description":"RFC 6749 Section 5.2 OAuth error response","properties":{"error":{"type":"string","enum":["invalid_request","invalid_client","invalid_grant","unauthorized_client","unsupported_grant_type","invalid_scope","server_error"],"example":"invalid_grant"},"error_description":{"type":"string","description":"Short human-readable English message","example":"Authorization code expired or already used."}},"required":["error"]},"OAuthRevokeRequest":{"description":"RFC 7009 token revocation request","properties":{"token":{"type":"string","description":"Plain refresh token to revoke","minLength":1},"token_type_hint":{"type":"string","enum":["refresh_token"]},"client_id":{"type":"string","description":"Optional when using Basic Auth"},"client_secret":{"type":"string","description":"Optional when using Basic Auth"}},"required":["token"]},"CreatePostRequest":{"type":"object","properties":{"text":{"type":"string","description":"Post body (up to 5,000 characters)","example":"Post body content","maxLength":5000,"minLength":0},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphRequest"},{"type":"null"}]}},"required":["text"]},"ApplicationSettingRequest":{"type":"object","properties":{"type":{"type":"string","enum":["RESUME","COVER_LETTER","PORTFOLIO","CUSTOM"]},"title":{"type":["string","null"],"maxLength":50,"minLength":0},"required":{"type":"boolean","default":false},"uploadType":{"type":"string","default":"ANY","enum":["FILE","URL","ANY"]}},"required":["type"]},"CreateJobRequest":{"type":"object","properties":{"jobTitle":{"type":"string","maxLength":30,"minLength":1},"jobSubtitle":{"type":["string","null"],"maxLength":50,"minLength":0},"jobCategory":{"type":"string","minLength":1},"seniorities":{"type":"array","items":{"type":"string"},"minItems":1},"employmentTypes":{"type":"array","items":{"type":"string"},"minItems":1},"workType":{"type":"string","enum":["ONSITE","HYBRID","REMOTE"]},"jobBio":{"type":"string","minLength":1},"jobResponse":{"type":"string","minLength":1},"jobMinimumQual":{"type":["string","null"]},"jobPreferQual":{"type":["string","null"]},"jobBenefit":{"type":["string","null"]},"jobHireProcess":{"type":["string","null"]},"jobHireNotes":{"type":["string","null"]},"startDate":{"type":"string","format":"date"},"endDate":{"type":["string","null"],"format":"date"},"email":{"type":["string","null"],"format":"email"},"notifyEmails":{"type":"array","items":{"type":"string"},"maxItems":10,"minItems":0},"settings":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationSettingRequest"},"minItems":1},"military":{"type":"boolean","default":false},"veteran":{"type":"boolean","default":false}},"required":["employmentTypes","jobBio","jobCategory","jobResponse","jobTitle","seniorities","settings","startDate"]},"CreateEventRequest":{"type":"object","properties":{"eventName":{"type":"string","maxLength":100,"minLength":1},"description":{"type":"string","minLength":1},"eventCategories":{"type":"array","items":{"type":"string"},"minItems":1},"eventSubjects":{"type":"array","items":{"type":"string"},"minItems":1},"accessType":{"type":"string","enum":["PUBLIC","INVITE","LINK"]},"eventOpenType":{"type":"string","enum":["OFFLINE","ONLINE","ON_OFFLINE","TBD"]},"joinType":{"type":"string","enum":["OPEN","REGISTERED"]},"startAt":{"type":"string","format":"date-time"},"endAt":{"type":"string","format":"date-time"},"country":{"type":["string","null"]},"region":{"type":["string","null"]},"locality":{"type":["string","null"]},"locationTitle":{"type":["string","null"]},"locationAddress":{"type":["string","null"]},"locationDetail":{"type":["string","null"]},"locationDescription":{"type":["string","null"]},"latitude":{"type":["number","null"]},"longitude":{"type":["number","null"]},"onlineLink":{"type":["string","null"]},"locationHidden":{"type":"boolean","default":false},"guestHidden":{"type":"boolean","default":false},"hosts":{"type":"array","items":{"$ref":"#/components/schemas/HostInput"}}},"required":["accessType","description","endAt","eventCategories","eventName","eventOpenType","eventSubjects","hosts","joinType","startAt"]},"HostInput":{"type":"object","properties":{"hostType":{"type":"string","enum":["COMPANY","MEMBER"]},"hostId":{"type":"string","maxLength":255,"minLength":1,"pattern":"^[A-Za-z0-9_-]+$"},"roleTypes":{"type":"array","default":[],"items":{"type":"string"}}},"required":["hostId","hostType"]},"EventWriteResponse":{"type":"object","properties":{"eventId":{"type":"string"},"webUrl":{"type":"string"}},"required":["eventId","webUrl"]},"CreateFreeTicketRequest":{"type":"object","properties":{"ticketName":{"type":"string","maxLength":200,"minLength":1},"description":{"type":["string","null"]},"approvalRequired":{"type":"boolean","default":false},"waitingRequired":{"type":"boolean","default":false},"maxCount":{"type":["integer","null"],"format":"int32"},"salesStartAt":{"type":"string","format":"date-time"},"salesEndAt":{"type":"string","format":"date-time"},"formFields":{"type":"array","default":[],"items":{"$ref":"#/components/schemas/FormFieldRequest"}}},"required":["ticketName"]},"FormFieldRequest":{"type":"object","properties":{"fieldLabel":{"type":"string","minLength":1},"fieldType":{"type":"string","enum":["PHONE","WEB3_WALLET","TEXT","LONG_TEXT","CHECKBOX","SELECT","EDUCATION_VERIFICATION"]},"required":{"type":"boolean","default":false},"options":{"type":["array","null"],"items":{"type":"string"}},"schoolId":{"type":["integer","null"],"format":"int64"}},"required":["fieldLabel","fieldType"]},"TicketWriteResponse":{"type":"object","properties":{"ticketId":{"type":"integer","format":"int64"}},"required":["ticketId"]},"CreateChargedTicketRequest":{"type":"object","properties":{"ticketName":{"type":"string","maxLength":200,"minLength":1},"description":{"type":["string","null"]},"currency":{"type":["string","null"]},"price":{"type":"number","minimum":0},"approvalRequired":{"type":"boolean","default":false},"waitingRequired":{"type":"boolean","default":false},"maxCount":{"type":["integer","null"],"format":"int32"},"salesStartAt":{"type":"string","format":"date-time"},"salesEndAt":{"type":"string","format":"date-time"},"formFields":{"type":"array","default":[],"items":{"$ref":"#/components/schemas/FormFieldRequest"}}},"required":["price","ticketName"]},"CreateSessionRequest":{"type":"object","properties":{"day":{"type":"string"},"startTime":{"type":"string"},"endTime":{"type":"string"},"sessionName":{"type":"string","minLength":1},"description":{"type":["string","null"]},"videoUrl":{"type":["string","null"]},"thumbnailPath":{"type":["string","null"]},"sortNo":{"type":"integer","format":"int32","default":0},"speakers":{"type":"array","default":[],"items":{"$ref":"#/components/schemas/SpeakerInputRequest"}}},"required":["day","endTime","sessionName","startTime"]},"SpeakerInputRequest":{"type":"object","properties":{"speakerName":{"type":"string","minLength":1},"jobOrDept":{"type":["string","null"]}},"required":["speakerName"]},"SessionWriteResponse":{"type":"object","properties":{"sessionId":{"type":"integer","format":"int64"}},"required":["sessionId"]},"AddHostRequest":{"type":"object","properties":{"hostType":{"type":"string","enum":["COMPANY","MEMBER"]},"hostId":{"type":"string","maxLength":255,"minLength":1,"pattern":"^[A-Za-z0-9_-]+$"},"role":{"type":"string","enum":["ORGANIZER","SPONSOR","PARTNER"]}},"required":["hostId","hostType","role"]},"HostWriteResponse":{"type":"object","properties":{"hostId":{"type":"integer","format":"int64"}},"required":["hostId"]},"CreateFaqRequest":{"type":"object","properties":{"categoryName":{"type":"string","minLength":1},"title":{"type":"string","minLength":1},"content":{"type":"string"},"sortNo":{"type":"integer","format":"int32","default":0}},"required":["categoryName","content","title"]},"FaqWriteResponse":{"type":"object","properties":{"faqId":{"type":"integer","format":"int64"}},"required":["faqId"]},"UpdateJobRequest":{"type":"object","properties":{"jobTitle":{"type":"string"},"jobSubtitle":{"oneOf":[{"type":"string"},{"type":"null"}]},"jobCategory":{"type":"string"},"seniorities":{"type":"array","items":{"type":"string","enum":["BEGINNER","JUNIOR","MIDLEVEL","SENIOR","EXECUTIVE"]}},"employmentTypes":{"type":"array","items":{"type":"string","enum":["FULL_TIME","FIXED_TERM","COMMISSIONED","INTERN","FREELANCER","SELF_EMPLOYED"]}},"workType":{"type":"string","enum":["ONSITE","HYBRID","REMOTE"]},"jobBio":{"type":"string"},"jobResponse":{"type":"string"},"jobMinimumQual":{"oneOf":[{"type":"string"},{"type":"null"}]},"jobPreferQual":{"oneOf":[{"type":"string"},{"type":"null"}]},"jobBenefit":{"oneOf":[{"type":"string"},{"type":"null"}]},"jobHireProcess":{"oneOf":[{"type":"string"},{"type":"null"}]},"jobHireNotes":{"oneOf":[{"type":"string"},{"type":"null"}]},"email":{"oneOf":[{"type":"string"},{"type":"null"}]},"notifyEmails":{"type":"array","items":{"type":"string"}},"settings":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationSettingRequest"}},"military":{"type":"boolean","default":false},"veteran":{"type":"boolean","default":false}}},"EventPatchRequest":{"type":"object","properties":{"eventName":{"type":"string"},"description":{"type":"string"},"accessType":{"type":"string","enum":["PUBLIC","INVITE","LINK"]},"eventOpenType":{"type":"string","enum":["OFFLINE","ONLINE","ON_OFFLINE","TBD"]},"joinType":{"type":"string","enum":["OPEN","REGISTERED"]},"startAt":{"type":"string","format":"date-time"},"endAt":{"type":"string","format":"date-time"},"onlineLink":{"oneOf":[{"type":"string"},{"type":"null"}]},"country":{"oneOf":[{"type":"string"},{"type":"null"}]},"region":{"oneOf":[{"type":"string"},{"type":"null"}]},"locality":{"oneOf":[{"type":"string"},{"type":"null"}]},"locationTitle":{"oneOf":[{"type":"string"},{"type":"null"}]},"locationAddress":{"oneOf":[{"type":"string"},{"type":"null"}]},"locationDetail":{"oneOf":[{"type":"string"},{"type":"null"}]},"locationDescription":{"oneOf":[{"type":"string"},{"type":"null"}]},"locationHidden":{"type":"boolean"},"guestHidden":{"type":"boolean"},"eventCategories":{"type":"array","items":{"type":"string","enum":["MARKET","FAIR","CONFERENCE","NETWORKING","BUSINESS","COMPETITION","LIFESTYLE"]}},"eventSubjects":{"type":"array","items":{"type":"string","enum":["WEB3","TECHNOLOGY","PRODUCT","FINANCE","HUMANITIES","BUSINESS","CULTURE"]}}}},"PatchTicketRequest":{"type":"object","properties":{"ticketName":{"type":"string"},"ticketType":{"oneOf":[{"type":"string","enum":["FREE","CHARGED"]},{"type":"null"}]},"description":{"type":"string"},"approvalRequired":{"type":"boolean"},"waitingRequired":{"type":"boolean"},"maxCount":{"oneOf":[{"type":"integer","format":"int32"},{"type":"null"}]},"salesStartAt":{"oneOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"salesEndAt":{"oneOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"price":{"oneOf":[{"type":"number"},{"type":"null"}]},"currency":{"oneOf":[{"type":"string"},{"type":"null"}]}}},"PatchSessionRequest":{"type":"object","properties":{"sessionName":{"type":"string"},"description":{"oneOf":[{"type":"string"},{"type":"null"}]},"videoUrl":{"oneOf":[{"type":"string"},{"type":"null"}]},"thumbnailPath":{"oneOf":[{"type":"string"},{"type":"null"}]},"sortNo":{"type":"integer","format":"int32"},"speakers":{"type":"array","items":{"$ref":"#/components/schemas/SpeakerInputRequest"}}}},"UpdateHostRoleRequest":{"type":"object","properties":{"role":{"type":"string","enum":["ORGANIZER","SPONSOR","PARTNER"]}},"required":["role"]},"PatchFaqRequest":{"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"}}},"OAuthUserInfoResponse":{"type":"object","description":"User information compatible with the OIDC Standard Claims shape. Claims that are unauthorized or unavailable are omitted.","properties":{"sub":{"type":"string","description":"Immutable external user identifier shared across the Open API service","example":"OA-0123456789abcdef0123456789abcdef"},"name":{"type":["string","null"],"description":"Display name (`profile` scope)","example":"Rocketpunch"},"preferred_username":{"type":"string","description":"Profile permalink (`profile` scope)","example":"rocketpunch"},"picture":{"type":["string","null"],"description":"Absolute profile image URL (`profile` scope)","example":"https://image.rocketpunch.com/user/123/profile.png"},"email":{"type":["string","null"],"format":"email","description":"Email address (included only with the additional `email` scope)","example":"user@example.com"}},"required":["sub"]},"PageResponsePostSummaryResponse":{"type":"object","description":"Paginated response. `page` starts at 1. If `page > totalPages`, `items` is an empty array.","properties":{"totalItems":{"type":"integer","format":"int64","description":"Total item count"},"totalPages":{"type":"integer","format":"int32","description":"Total page count"},"page":{"type":"integer","format":"int32","description":"Current page number (starts at 1)"},"pageSize":{"type":"integer","format":"int32","description":"Page size"},"items":{"type":"array","description":"Items on the current page","items":{"$ref":"#/components/schemas/PostSummaryResponse"}}},"required":["items","page","pageSize","totalItems","totalPages"]},"PostAuthorResponse":{"type":"object","properties":{"type":{"type":"string","description":"Author type","enum":["COMPANY","MEMBER"],"example":"COMPANY"},"id":{"type":["string","null"],"description":"Author identifier (handle)"},"name":{"type":"string","description":"Author name"},"imageUrl":{"type":["string","null"],"description":"Author image URL (COMPANY=company logo, MEMBER=profile image)"},"certificated":{"type":"boolean","description":"Influencer verification status"}},"required":["certificated","name","type"]},"PostStatsResponse":{"type":"object","properties":{"likeCount":{"type":["integer","null"],"format":"int64","description":"Like count"},"commentCount":{"type":["integer","null"],"format":"int64","description":"Comment count"}}},"PostSummaryResponse":{"type":"object","properties":{"postId":{"type":"integer","format":"int64","description":"Post ID","example":9876543},"author":{"$ref":"#/components/schemas/PostAuthorResponse","description":"Author"},"content":{"type":["string","null"],"description":"Post body"},"images":{"type":"array","description":"Image list","items":{"$ref":"#/components/schemas/PostImageResponse"}},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphResponse"},{"type":"null"}]},"stats":{"$ref":"#/components/schemas/PostStatsResponse","description":"Aggregate statistics"},"owned":{"type":"boolean","description":"Whether the post belongs to the authenticated user (always false without a Bearer token)"},"webUrl":{"type":"string","description":"Post web URL","example":"https://www.rocketpunch.com/post/9876543"},"postedAt":{"type":"string","description":"Posted at (list responses use raw LocalDateTime without timezone)"}},"required":["author","images","owned","postId","postedAt","stats","webUrl"]},"MentionResponse":{"type":"object","properties":{"name":{"type":"string","description":"Name"},"id":{"type":"string","description":"Identifier (handle)"}},"required":["id","name"]},"PostDetailResponse":{"type":"object","description":"Post details","properties":{"postId":{"type":"integer","format":"int64","description":"Post ID","example":9876543},"author":{"$ref":"#/components/schemas/PostAuthorResponse","description":"Author"},"content":{"type":["string","null"],"description":"Post body"},"language":{"type":["string","null"],"description":"Content language"},"images":{"type":"array","description":"Image list","items":{"$ref":"#/components/schemas/PostImageResponse"}},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphResponse"},{"type":"null"}]},"mentions":{"$ref":"#/components/schemas/PostMentionsResponse","description":"Mention"},"repostedPost":{"oneOf":[{"$ref":"#/components/schemas/PostDetailResponse"},{"type":"null"}]},"repostedPostDeleted":{"type":"boolean","description":"Whether the repost source was deleted"},"stats":{"$ref":"#/components/schemas/PostStatsResponse","description":"Aggregate statistics"},"owned":{"type":"boolean","description":"Whether the post belongs to the authenticated user (always false without a Bearer token)"},"webUrl":{"type":"string","description":"Post web URL","example":"https://www.rocketpunch.com/post/9876543"},"postedAt":{"type":"string","description":"Posted at (ISO 8601 UTC)"},"updatedAt":{"type":"string","description":"Updated at (ISO 8601 UTC)"}},"required":["author","images","mentions","owned","postId","postedAt","repostedPostDeleted","stats","updatedAt","webUrl"]},"PostMentionsResponse":{"type":"object","properties":{"companies":{"type":"array","description":"Mentioned company","items":{"$ref":"#/components/schemas/MentionResponse"}},"users":{"type":"array","description":"Mentioned user","items":{"$ref":"#/components/schemas/MentionResponse"}}},"required":["companies","users"]},"CompanyRefResponse":{"type":"object","properties":{"permalink":{"type":"string","description":"Company identifier (permalink)","example":"rocketpunch"},"name":{"type":["string","null"],"description":"Company name","example":"Rocketpunch"},"logoUrl":{"type":["string","null"],"description":"Logo URL"}},"required":["permalink"]},"MeCompanyPermissionResponse":{"type":"object","properties":{"company":{"$ref":"#/components/schemas/CompanyRefResponse"},"capabilities":{"type":"array","description":"Open API operations available to perform (client branching reference)","example":["event:create","job:create"],"items":{"type":"string"}}},"required":["capabilities","company"]},"MeCompanyPermissionsResponse":{"type":"object","description":"List of companies where I hold company-wide roles, with available operations.","properties":{"companies":{"type":"array","items":{"$ref":"#/components/schemas/MeCompanyPermissionResponse"}}},"required":["companies"]},"MeResourceRoleItemResponse":{"type":"object","properties":{"resourceType":{"type":"string","description":"Resource type","enum":["EVENT","JOB"]},"resourceId":{"type":"string","description":"Resource identifier (string)","example":"9876"},"capabilities":{"type":"array","description":"Operations available based on aggregated roles (client branching reference)","items":{"type":"string"}}},"required":["capabilities","resourceId","resourceType"]},"MeResourceRolesResponse":{"type":"object","description":"Resource-level permissions. With resourceId = precise check (0–1 items); without = explicitly granted list (paginated).","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/MeResourceRoleItemResponse"}}},"required":["items"]},"JobCompanyResponse":{"type":"object","properties":{"id":{"type":["string","null"],"description":"Company identifier (handle)"},"name":{"type":"string","description":"Company name"},"logoUrl":{"type":["string","null"],"description":"Logo URL"},"industry":{"type":["string","null"],"description":"Industry"},"size":{"type":["string","null"],"description":"Company size","enum":["TINY","SMALL","MEDIUM","LARGE","HUGE"]}},"required":["name"]},"JobSummaryResponse":{"type":"object","description":"Job list item","properties":{"jobId":{"type":"integer","format":"int64","description":"Job ID","example":9001234},"title":{"type":"string","description":"Job title","example":"Backend Engineer (Kotlin/Spring)"},"subtitle":{"type":["string","null"],"description":"Job subtitle"},"jobCategory":{"type":["string","null"],"description":"Job category code"},"seniorities":{"type":"array","description":"Seniorities","items":{"type":"string"}},"employmentTypes":{"type":"array","description":"Employment types","items":{"type":"string"}},"workType":{"type":["string","null"],"description":"Workplace type","enum":["ONSITE","HYBRID","REMOTE"]},"company":{"$ref":"#/components/schemas/JobCompanyResponse","description":"Company information"},"endAt":{"type":["string","null"],"description":"Recruiting end time (raw LocalDateTime string in lists; null for always-open jobs)"},"webUrl":{"type":"string","description":"Rocketpunch page URL"}},"required":["company","employmentTypes","jobId","seniorities","title","webUrl"]},"PageResponseJobSummaryResponse":{"type":"object","description":"Paginated response. `page` starts at 1. If `page > totalPages`, `items` is an empty array.","properties":{"totalItems":{"type":"integer","format":"int64","description":"Total item count"},"totalPages":{"type":"integer","format":"int32","description":"Total page count"},"page":{"type":"integer","format":"int32","description":"Current page number (starts at 1)"},"pageSize":{"type":"integer","format":"int32","description":"Page size"},"items":{"type":"array","description":"Items on the current page","items":{"$ref":"#/components/schemas/JobSummaryResponse"}}},"required":["items","page","pageSize","totalItems","totalPages"]},"ApplyMethodResponse":{"type":"object","properties":{"type":{"type":"string","description":"Application method","enum":["PLATFORM","OUTLINK"],"example":"OUTLINK"},"url":{"type":["string","null"],"description":"Application URL"}},"required":["type"]},"JobDetailResponse":{"type":"object","description":"Job details. `status` and `hiring` are independent dimensions and can form four response states: (1) `status=published`, `hiring=true`: actively hiring and applications are open; (2) `status=published`, `hiring=false`: visible but hiring is closed; (3) `status=finish`, `hiring=false`: the company explicitly ended hiring; (4) `status=finish`, `hiring=true`: should almost never occur. Treat only case (1) as open for applications and show a closed badge for cases (2) and (3).","properties":{"jobId":{"type":"integer","format":"int64","description":"Job ID","example":9001234},"status":{"type":"string","description":"Job status. `published` means currently visible (actively hiring or closed). `finish` means the company explicitly ended hiring. Deleted and draft jobs are not returned.","enum":["published","finish"],"example":"published"},"hiring":{"type":"boolean","description":"Whether the job is actively hiring. `true` means open for applications; `false` means closed (not returned in search/list, only in detail).","example":true},"title":{"type":"string","description":"Job title","example":"Backend Engineer (Kotlin/Spring)"},"subtitle":{"type":["string","null"],"description":"Job subtitle"},"jobCategory":{"type":["string","null"],"description":"Job category code"},"seniorities":{"type":"array","description":"Seniorities","items":{"type":"string"}},"employmentTypes":{"type":"array","description":"Employment types","items":{"type":"string"}},"workType":{"type":["string","null"],"description":"Workplace type","enum":["ONSITE","HYBRID","REMOTE"]},"language":{"type":["string","null"],"description":"Content language"},"description":{"type":["string","null"],"description":"Detailed description"},"duty":{"type":["string","null"],"description":"Responsibilities"},"minimumQualification":{"type":["string","null"],"description":"Requirements"},"preferredQualification":{"type":["string","null"],"description":"Preferred qualifications"},"benefit":{"type":["string","null"],"description":"Benefits"},"hireProcess":{"type":["string","null"],"description":"Hiring process"},"hireNotes":{"type":["string","null"],"description":"Notes"},"jobImages":{"type":"array","description":"Job image URLs","items":{"type":"string"}},"allowRemote":{"type":"boolean","description":"Remote work allowed"},"company":{"$ref":"#/components/schemas/JobCompanyResponse","description":"Company information"},"applyMethod":{"$ref":"#/components/schemas/ApplyMethodResponse","description":"How to apply"},"startAt":{"type":["string","null"],"description":"Recruiting start time in ISO-8601 UTC"},"endAt":{"type":["string","null"],"description":"Recruiting end time in ISO-8601 UTC (null for always-open jobs; past time means hiring is closed)"},"webUrl":{"type":"string","description":"Rocketpunch page URL"},"createdAt":{"type":"string","description":"Created at in ISO-8601 UTC"}},"required":["allowRemote","applyMethod","company","createdAt","employmentTypes","hiring","jobId","jobImages","seniorities","status","title","webUrl"]},"EventHostResponse":{"type":"object","properties":{"hostType":{"type":"string","description":"Host type","enum":["COMPANY"],"example":"COMPANY"},"name":{"type":"string","description":"Host name"},"id":{"type":["string","null"],"description":"Company identifier (handle)"},"profileImageUrl":{"type":["string","null"],"description":"Profile image URL"},"roles":{"type":"array","description":"Roles","enum":["ORGANIZER","SPONSOR","PARTNER"],"items":{"type":"string"}}},"required":["hostType","name","roles"]},"EventStatsResponse":{"type":"object","properties":{"viewCount":{"type":["integer","null"],"format":"int64","description":"View count"},"guestCount":{"type":["integer","null"],"format":"int64","description":"Participant count (`null` if private)"}}},"EventSummaryResponse":{"type":"object","properties":{"eventId":{"type":"string","description":"Event ID","example":"8H2KQ9XJ4P"},"eventName":{"type":"string","description":"Event name","example":"2026 AI Conference"},"eventCategories":{"type":"array","description":"Event category","items":{"type":"string"}},"eventSubjects":{"type":"array","description":"Event subject","items":{"type":"string"}},"startAt":{"type":"string","description":"Start datetime","example":"2026-09-01T10:00"},"endAt":{"type":"string","description":"End datetime","example":"2026-09-01T18:00"},"eventOpenType":{"type":"string","description":"Event format: OFFLINE / ONLINE / ON_OFFLINE / TBD","enum":["OFFLINE","ONLINE","ON_OFFLINE","TBD"],"example":"OFFLINE"},"location":{"oneOf":[{"$ref":"#/components/schemas/LocationResponse"},{"type":"null"}]},"bannerUrl":{"type":["string","null"],"description":"Banner image URL"},"hosts":{"type":"array","description":"Hosts","items":{"$ref":"#/components/schemas/EventHostResponse"}},"stats":{"$ref":"#/components/schemas/EventStatsResponse","description":"Aggregate statistics"},"webUrl":{"type":"string","description":"Rocketpunch page URL"}},"required":["endAt","eventCategories","eventId","eventName","eventOpenType","eventSubjects","hosts","startAt","stats","webUrl"]},"LocationResponse":{"type":"object","properties":{"country":{"type":["string","null"],"description":"Country code (ISO alpha-2)","example":"KR"},"region":{"type":["string","null"],"description":"Region / state","example":"Seoul"},"locality":{"type":["string","null"],"description":"City / district","example":"Gangnam-gu"},"placeName":{"type":["string","null"],"description":"Venue name","example":"COEX Grand Ballroom"},"address":{"type":["string","null"],"description":"Address","example":"513 Yeongdong-daero, Gangnam-gu, Seoul"},"addressDetail":{"type":["string","null"],"description":"Detailed location inside the building","example":"B1 Grand Ballroom"},"directions":{"type":["string","null"],"description":"Directions / transportation guide","example":"5-minute walk from Samseong Station Exit 5 on Line 2"},"latitude":{"type":["number","null"],"description":"Latitude"},"longitude":{"type":["number","null"],"description":"Longitude"}}},"PageResponseEventSummaryResponse":{"type":"object","description":"Paginated response. `page` starts at 1. If `page > totalPages`, `items` is an empty array.","properties":{"totalItems":{"type":"integer","format":"int64","description":"Total item count"},"totalPages":{"type":"integer","format":"int32","description":"Total page count"},"page":{"type":"integer","format":"int32","description":"Current page number (starts at 1)"},"pageSize":{"type":"integer","format":"int32","description":"Page size"},"items":{"type":"array","description":"Items on the current page","items":{"$ref":"#/components/schemas/EventSummaryResponse"}}},"required":["items","page","pageSize","totalItems","totalPages"]},"EventAttachmentResponse":{"type":"object","properties":{"url":{"type":"string","description":"Image URL"},"fileName":{"type":["string","null"],"description":"File name"}},"required":["url"]},"EventDetailResponse":{"type":"object","description":"Event details","properties":{"eventId":{"type":"string","description":"Event ID","example":"8H2KQ9XJ4P"},"eventName":{"type":"string","description":"Event name","example":"2026 AI Conference"},"descriptionHtml":{"type":["string","null"],"description":"Event description body (HTML)"},"language":{"type":["string","null"],"description":"Content language","example":"ko"},"eventStatus":{"type":"string","description":"Event status: PUBLISHED / CANCELED","enum":["PUBLISHED","CANCELED"],"example":"PUBLISHED"},"eventCategories":{"type":"array","description":"Event category","items":{"type":"string"}},"eventSubjects":{"type":"array","description":"Event subject","items":{"type":"string"}},"startAt":{"type":"string","description":"Start time in ISO-8601 UTC","example":"2026-09-01T10:00:00Z"},"endAt":{"type":"string","description":"End time in ISO-8601 UTC","example":"2026-09-01T18:00:00Z"},"eventOpenType":{"type":"string","description":"Event format: OFFLINE / ONLINE / ON_OFFLINE / TBD","enum":["OFFLINE","ONLINE","ON_OFFLINE","TBD"],"example":"OFFLINE"},"joinType":{"type":"string","description":"Participation type: OPEN / REGISTERED","enum":["OPEN","REGISTERED"],"example":"REGISTERED"},"bannerUrl":{"type":["string","null"],"description":"Banner image URL"},"attachments":{"type":"array","description":"Attached images","items":{"$ref":"#/components/schemas/EventAttachmentResponse"}},"location":{"oneOf":[{"$ref":"#/components/schemas/LocationResponse"},{"type":"null"}]},"onlineLink":{"type":["string","null"],"description":"Online participation link (included only when provided)"},"hosts":{"type":"array","description":"Hosts","items":{"$ref":"#/components/schemas/EventHostResponse"}},"stats":{"$ref":"#/components/schemas/EventStatsResponse","description":"Aggregate statistics"},"webUrl":{"type":"string","description":"Rocketpunch page URL","example":"https://www.rocketpunch.com/event/8H2KQ9XJ4P"},"createdAt":{"type":"string","description":"Created at in ISO-8601 UTC"}},"required":["attachments","createdAt","endAt","eventCategories","eventId","eventName","eventOpenType","eventStatus","eventSubjects","hosts","joinType","startAt","stats","webUrl"]},"EventTicketResponse":{"type":"object","description":"Event ticket","properties":{"ticketName":{"type":"string","description":"Ticket name"},"ticketType":{"type":"string","description":"Ticket type: FREE / CHARGED","enum":["FREE","CHARGED"]},"description":{"type":["string","null"],"description":"Ticket description"},"price":{"type":["number","null"],"description":"Price (charged tickets)"},"currency":{"type":["string","null"],"description":"Currency code","example":"KRW"},"saleStartAt":{"type":"string","description":"Sales start time in ISO-8601 UTC","example":"2026-08-01T00:00:00Z"},"saleEndAt":{"type":"string","description":"Sales end time in ISO-8601 UTC","example":"2026-08-31T23:59:59Z"},"approvalRequired":{"type":"boolean","description":"Whether participation approval is required. If true, the host must approve the application before participation is confirmed."},"waitingRequired":{"type":"boolean","description":"Whether waitlist applications are allowed. If true, the ticket accepts waitlist applications when sold out. Check `waitingRequired && soldOut` to determine whether waitlisting is currently available."},"maxPerPerson":{"type":["integer","null"],"format":"int32","description":"Maximum purchases per person"},"soldOut":{"type":"boolean","description":"Whether sold out. True when remaining quantity is 0."}},"required":["approvalRequired","saleEndAt","saleStartAt","soldOut","ticketName","ticketType","waitingRequired"]},"EventSessionResponse":{"type":"object","description":"Event session","properties":{"sessionName":{"type":"string","description":"Session name"},"description":{"type":["string","null"],"description":"Session description"},"videoUrl":{"type":["string","null"],"description":"Video URL"},"thumbnailUrl":{"type":["string","null"],"description":"Thumbnail image URL"},"speakers":{"type":"array","description":"Speakers","items":{"$ref":"#/components/schemas/EventSessionSpeakerResponse"}},"tags":{"type":"array","description":"Tags","items":{"type":"string"}}},"required":["sessionName","speakers","tags"]},"EventSessionSpeakerResponse":{"type":"object","description":"Session speaker","properties":{"name":{"type":"string","description":"Speaker name"},"jobOrDept":{"type":["string","null"],"description":"Title / affiliation"}},"required":["name"]},"EventSessionTimeSlotResponse":{"type":"object","description":"Event time slot (session group)","properties":{"day":{"type":"string","description":"Date (YYYY-MM-DD)","example":"2026-09-01"},"startTime":{"type":"string","description":"Start time (HH:mm)","example":"10:00"},"endTime":{"type":"string","description":"End time (HH:mm)","example":"11:00"},"sessions":{"type":"array","description":"Sessions in display order","items":{"$ref":"#/components/schemas/EventSessionResponse"}}},"required":["day","endTime","sessions","startTime"]},"EventFaqCategoryResponse":{"type":"object","description":"Event FAQ category","properties":{"categoryName":{"type":"string","description":"Category name"},"faqs":{"type":"array","description":"FAQs in display order","items":{"$ref":"#/components/schemas/EventFaqResponse"}}},"required":["categoryName","faqs"]},"EventFaqResponse":{"type":"object","description":"Event FAQ","properties":{"title":{"type":"string","description":"Question"},"content":{"type":"string","description":"Answer"}},"required":["content","title"]},"PageResponseJobWriteResponse":{"type":"object","description":"Paginated response. `page` starts at 1. If `page > totalPages`, `items` is an empty array.","properties":{"totalItems":{"type":"integer","format":"int64","description":"Total item count"},"totalPages":{"type":"integer","format":"int32","description":"Total page count"},"page":{"type":"integer","format":"int32","description":"Current page number (starts at 1)"},"pageSize":{"type":"integer","format":"int32","description":"Page size"},"items":{"type":"array","description":"Items on the current page","items":{"$ref":"#/components/schemas/JobWriteResponse"}}},"required":["items","page","pageSize","totalItems","totalPages"]},"CodeResponse":{"type":"object","description":"Code catalog item","properties":{"code":{"type":"string","description":"Code name","example":"CONFERENCE"},"displayName":{"type":"string","description":"Display name localized by Accept-Language","example":"Conference"},"description":{"type":"string","description":"Description (empty string when unavailable)","example":"Talk / seminar / forum"}},"required":["code","description","displayName"]},"JobIndustryCodeResponse":{"type":"object","description":"Job industry code (hierarchical)","properties":{"code":{"type":"string","description":"Code name","example":"1000"},"displayName":{"type":"string","description":"Display name localized by Accept-Language","example":"IT / web / communications"},"children":{"type":["array","null"],"description":"Child job industries (omitted when unavailable)","items":{"$ref":"#/components/schemas/JobIndustryCodeResponse"}}},"required":["code","displayName"]},"EventCategoryCode":{"type":"string","description":"Event category code catalog. Labels and descriptions below are Korean defaults; localized labels are available from `/api/v1/codes/*`.\n\n| code | label | description |\n|---|---|---|\n| `MARKET` | Pop-up store | Limited-time event |\n| `FAIR` | Fair | Fair / exhibition |\n| `CONFERENCE` | Conference | Talk / seminar / forum |\n| `NETWORKING` | Networking | Meetup / mentoring |\n| `BUSINESS` | Business | IR /
[...]
