{"openapi":"3.1.0","info":{"title":"로켓펀치 Open API","description":"로켓펀치의 채용공고·이벤트·게시글 등 다양한 데이터를 조회·연동할 수 있는 REST API.\n\n## 인증\n공개 데이터 조회 API 는 `X-RP-API-Key` 헤더를 사용한다. 사용자 권한이 필요한 API 는\n`Authorization: Bearer <jwt>` 헤더를 사용한다. 각 오퍼레이션의 `security` 항목에서 필요한 인증 방식을 확인할 수 있다.\n\n## 앱 타입 선택\n포털에서 App 을 만들 때는 사용하려는 API 성격에 맞춰 타입을 선택한다.\n\n| 타입 | 의미 | 주로 사용하는 API |\n|---|---|---|\n| App Key 전용 앱 | 공개 데이터를 가져오는 앱. 사용자 로그인이 필요 없는 조회 API 에 사용한다. | 채용공고·이벤트·게시글 조회 |\n| OAuth 클라이언트 앱 | 사용자가 로켓펀치 계정으로 로그인해 권한을 허용하는 앱. | 게시글 작성·수정·삭제처럼 사용자 권한이 필요한 API |\n\n공개 데이터 조회 API 는 App Key(`X-RP-API-Key` 헤더)만으로 호출한다.\n사용자 권한이 필요한 API 는 OAuth 클라이언트 앱으로 발급받은 access token 을 `Authorization: Bearer <jwt>` 헤더로 보낸다.\n\n## OAuth 2.0 인증\n본 서비스는 사용자 컨텍스트 API 호출을 위해 OAuth 2.0 Authorization Code + PKCE(S256) 인가 흐름을 자체 호스팅한다.\n\n- 인가 화면: `GET /oauth/authorize`\n- 토큰 발급/갱신: `POST /oauth/token`\n- 토큰 폐기: `POST /oauth/revoke`\n- 사용자 정보: `GET /oauth/userinfo` (`profile` scope 필수, `email` claim 은 `email` scope 필요)\n\n## Rate Limit\nApp Key 기준 **전역 분당 60회 / 일 5,000회**. 초과 시 `429` + `Retry-After`.\n정상 응답에는 `X-RP-RateLimit-Remaining` 헤더 포함.\n\n사용자 권한이 필요한 일부 변경 작업에는 작업별 세부 한도(분/시/일)가 함께 적용된다.\n전역 한도 또는 작업별 세부 한도 중 하나라도 초과하면 `429` 가 응답된다.\n작업별 세부 한도 초과 시 `X-RP-RateLimit-Scope` 헤더로 작업 구분이 제공된다.\n정상 응답에는 `X-RP-RateLimit-Scope-Remaining` 헤더로 해당 작업의 이번 분 남은 호출 수가 제공된다.\n\n| 작업 구분 | 적용 작업 | 분당 | 시간당 | 일 |\n|---|---|---:|---:|---:|\n| `post.create` | 게시글 작성 | 2 | 10 | 50 |\n| `post.update` | 게시글 수정 | 5 | 40 | 300 |\n| `post.delete` | 게시글 삭제 | 2 | 10 | 30 |\n| `job.create` | 채용공고 생성 | 2 | 10 | 50 |\n| `job.update` | 채용공고 수정 | 5 | 40 | 300 |\n| `job.delete` | 채용공고 삭제 | 2 | 10 | 30 |\n| `job.publish` | 채용공고 게시 | 5 | 30 | 150 |\n| `job.disable` | 채용공고 비활성화 | 5 | 30 | 150 |\n| `event.create` | 이벤트 생성 | 2 | 10 | 50 |\n| `event.update` | 이벤트 수정 | 5 | 40 | 300 |\n| `event.delete` | 이벤트 삭제 | 2 | 10 | 30 |\n| `event.sub.create` | 이벤트 세션/FAQ/호스트/티켓 생성 | 10 | 100 | 500 |\n| `event.sub.update` | 이벤트 세션/FAQ/호스트/티켓 수정 | 15 | 150 | 800 |\n| `event.sub.delete` | 이벤트 세션/FAQ/호스트/티켓 삭제 | 10 | 100 | 400 |\n\n## 다국어 (Accept-Language)\n`Accept-Language` 헤더로 응답 언어를 결정한다(미지정 시 `ko`).\n\n코드 카탈로그(`/v1/codes/*`) 라벨이 지원하는 로케일:\n\n| 코드 | 언어 | 비고 |\n|---|---|---|\n| `ko` | 한국어 (Korean) | 기본값 |\n| `en` | 영어 (English) | |\n| `ja` | 일본어 (Japanese) | |\n| `zh-CN` | 중국어 간체 (Simplified Chinese) | 중국 본토 |\n| `zh-TW` | 중국어 번체 (Traditional Chinese) | 대만·홍콩 |\n| `es` | 스페인어 (Spanish) | |\n| `fr` | 프랑스어 (French) | |\n| `de` | 독일어 (German) | |\n| `pt` | 포르투갈어 (Portuguese) | |\n| `th` | 태국어 (Thai) | |\n| `vi` | 베트남어 (Vietnamese) | |\n\n채용공고·이벤트·게시글 **본문 번역**은 `en`, `ja`, `zh-CN`, `zh-TW` 만 제공하며, 그 외 언어는 원문으로 반환한다.\n\n## 페이지네이션\n목록(검색) 응답은 페이지 기반 페이지네이션을 사용한다.\n- `page`: 조회할 페이지 번호. **1부터 시작**(기본 `1`). 1 미만 값은 `1` 로 보정된다.\n- `pageSize`: 페이지당 항목 수. 기본 `20`, **최대 `50`**. 범위를 벗어난 값은 1~50 으로 보정된다(50 초과 요청은 50 으로 처리).\n\n응답은 공통 형식으로 다음 필드를 포함한다.\n- `totalItems`: 조건에 맞는 전체 항목 수\n- `totalPages`: 전체 페이지 수(`ceil(totalItems / pageSize)`)\n- `page` / `pageSize`: 실제 적용된(보정된) 페이지 번호와 크기\n- `items`: 현재 페이지의 항목 배열\n\n`page` 가 `totalPages` 를 초과하면 오류 없이 `items` 가 빈 배열로 반환된다.\n\n## 에러\n정상 흐름(2xx)을 제외한 모든 4xx·5xx 응답은 동일한 에러 응답 형식(`ErrorResponse`)을 사용한다.\n\n### 에러 응답 형식\n```json\n{\n  \"code\": \"C0005\",\n  \"message\": \"요청 값이 올바르지 않습니다.\",\n  \"timestamp\": \"2026-05-20T09:00:00\",\n  \"details\": \"pageSize\"\n}\n```\n\n| 필드 | 설명 |\n|---|---|\n| `code` | 에러 코드. 아래 표의 값 중 하나로, 클라이언트 분기에 사용한다 |\n| `message` | 사람이 읽을 수 있는 에러 메시지 |\n| `timestamp` | 에러 발생 시각 (UTC 기준) |\n| `details` | 문제가 된 필드 경로/파트명/사유. 해당 정보가 없으면 `null` |\n\n### 에러 코드\n| HTTP | code | 의미 |\n|---|---|---|\n| 401 | C0001 | API Key 누락/무효 |\n| 400 | C0002 | 입력 형식 오류 |\n| 400 | C0005 | 쿼리 파라미터 유효성 실패 |\n| 404 | C0008 / EV001 / R0001 / P0002 | 리소스 없음(공통/이벤트/공고/게시글) |\n| 429 | C0010 | Rate limit 초과 |\n| 500 | C9999 | 서버 오류 |","version":"1.0 beta"},"servers":[{"url":"https://openapi.rocketpunch.com","description":"Production"}],"security":[{"apiKey":[]}],"tags":[{"name":"OAuth Authorization","description":"Authorization Code + PKCE 인가 흐름의 시작점. 사용자를 `GET /oauth/authorize` 로 보내 로그인한 뒤, 동의가 필요하면 동의 화면을 거쳐 등록된 redirect_uri 로 일회용 authorization code 를 전달한다. 유효한 기존 동의가 요청 scope를 포함하면 동의 화면은 생략한다. 이 code 를 OAuth Token 에서 access token 으로 교환한다."},{"name":"Posts","description":"게시글 조회·작성·수정·삭제 API"},{"name":"Codes","description":"검색 필터에 사용하는 코드 목록. 응답의 `code` 를 검색 파라미터 값으로 그대로 전달한다. 표시명(`displayName`)은 Accept-Language 에 따라 번역된다."},{"name":"OAuth UserInfo","description":"OAuth access token 으로 사용자 표준 claim 을 조회한다."},{"name":"OAuth Token","description":"authorization code 나 refresh token 을 access token 으로 교환·갱신하고(`POST /oauth/token`), 더 이상 쓰지 않는 토큰을 폐기한다(`POST /oauth/revoke`). 발급된 access token 은 `Authorization: Bearer` 로 사용자 컨텍스트 API 호출에 사용한다."},{"name":"Events","description":"이벤트 조회·등록·수정·삭제 및 하위 리소스 API"},{"name":"Jobs","description":"채용공고 조회·등록·수정·삭제 API"},{"name":"Me","description":"내 정보/권한 API"}],"paths":{"/api/v1/posts/{postId}":{"get":{"tags":["Posts"],"summary":"게시글 상세 조회","description":"게시글 단건 상세를 조회한다.","operationId":"getPost","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0},"example":9876543},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공. 재게시(reposted) 원본은 한 단계까지만 펼쳐지며, 펼친 원본 안의 추가 재게시는 포함하지 않는다(중첩 reposted 는 null).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDetailResponse"}}}},"404":{"description":"게시글이 존재하지 않거나, 작성자가 삭제·차단·탈퇴 상태인 경우 (P0002).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"put":{"tags":["Posts"],"summary":"게시글 수정","description":"OAuth 인증된 작성자 본인이 자신의 게시글 본문(+OG)을 수정한다. 본문(JSON) + 이미지 0~10장을 multipart/form-data 로 함께 업로드한다. `post:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `post:write`.","operationId":"updatePost","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":12345678},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/UpdatePostRequest"},"images":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["request"]}}},"required":true},"responses":{"200":{"description":"수정 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostWriteResponse"}}}},"403":{"description":"scope 부족 또는 작성자 본인이 아닌 경우 (P0003).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글이 존재하지 않는 경우 (P0002).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"이미지 검증 실패 (P0010 개수 / P0011 크기 / P0012 형식) 또는 request 유효성 실패 (C0005).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"502":{"description":"이미지 처리 실패 (P0013).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Posts"],"summary":"게시글 삭제","description":"OAuth 인증된 작성자 본인이 자신의 게시글을 삭제한다. 부속(이미지/멘션/번역/카드)도 함께 정리된다. `post:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `post:write`.","operationId":"deletePost","parameters":[{"name":"postId","in":"path","description":"게시글 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":12345678},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"삭제 성공 (빈 body)."},"403":{"description":"scope 부족 또는 작성자 본인이 아닌 경우 (P0003).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"게시글이 존재하지 않는 경우 (P0002).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/jobs/{jobId}/active":{"put":{"tags":["Jobs"],"summary":"채용공고 게시(활성화)","description":"인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `job:write`.","operationId":"publishJob","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"companyId","in":"query","description":"회사 handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobActiveRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWriteResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["Jobs"],"summary":"채용공고 비활성화","description":"인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `job:write`.","operationId":"disableJob","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"companyId","in":"query","description":"회사 handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWriteResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/oauth/token":{"post":{"tags":["OAuth Token"],"summary":"토큰 발급 / 갱신","description":"사용자 컨텍스트 access token 을 발급·갱신한다. `grant_type=authorization_code` 면 `/oauth/authorize` 에서 받은 `code` + PKCE `code_verifier` 로 최초 발급하고, `grant_type=refresh_token` 이면 `refresh_token` 으로 재발급한다. 응답 `access_token` 은 `Authorization: Bearer <jwt>` 형식으로 사용자 컨텍스트 `/api/v1/**` 및 `/oauth/userinfo` 호출에 사용한다. 클라이언트 인증은 HTTP Basic 또는 본문의 `client_id`/`client_secret`.","operationId":"oauthToken","parameters":[{"name":"Authorization","in":"header","description":"Basic base64(client_id:client_secret) — form 의 client_id/client_secret 사용 시 생략 가능","required":false,"schema":{"type":"string"}},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"oneOf":[{"$ref":"#/components/schemas/OAuthAuthorizationCodeTokenRequest"},{"$ref":"#/components/schemas/OAuthRefreshTokenRequest"}]}}}},"responses":{"200":{"description":"토큰 발급 성공","headers":{"Cache-Control":{"description":"no-store","style":"simple","schema":{"type":"string"}},"Pragma":{"description":"no-cache","style":"simple","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthTokenResponse"}}}},"400":{"description":"invalid_request / invalid_grant / unsupported_grant_type / invalid_scope","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthErrorResponse"}}}},"401":{"description":"invalid_client","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthErrorResponse"}}}},"500":{"description":"server_error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[]}},"/oauth/revoke":{"post":{"tags":["OAuth Token"],"summary":"토큰 폐기","description":"refresh token 을 폐기한다. 존재하지 않거나 이미 폐기된 토큰도 성공으로 응답한다.","operationId":"oauthRevoke","parameters":[{"name":"Authorization","in":"header","description":"Basic base64(client_id:client_secret) — form 의 client_id/client_secret 사용 시 생략 가능","required":false,"schema":{"type":"string"}},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/OAuthRevokeRequest"}}}},"responses":{"200":{"description":"폐기 요청 처리 완료"},"400":{"description":"필수 요청 값 누락","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"invalid_client","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[]}},"/api/v1/posts":{"get":{"tags":["Posts"],"summary":"게시글 검색·목록","description":"게시글을 검색·페이지네이션 조회한다.","operationId":"searchPosts","parameters":[{"name":"keyword","in":"query","description":"본문 검색어","required":false,"schema":{"type":"string","maxLength":100,"minLength":0}},{"name":"companyId","in":"query","description":"검색할 회사 handle","required":false,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"}},{"name":"hasImages","in":"query","description":"이미지 포함만","required":false,"schema":{"type":"boolean"}},{"name":"hasOg","in":"query","description":"Open Graph 포함만","required":false,"schema":{"type":"boolean"}},{"name":"postedAfter","in":"query","description":"게시 시각 ≥ (ISO datetime)","required":false,"schema":{"type":"string"}},{"name":"postedBefore","in":"query","description":"게시 시각 ≤ (ISO datetime)","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"조회할 페이지 번호 (1부터 시작, 기본값 1)","required":false,"schema":{"type":"integer","format":"int32","minimum":1},"example":1},{"name":"pageSize","in":"query","description":"페이지 크기(1~50, 기본 20)","required":false,"schema":{"type":"integer","format":"int32","maximum":50,"minimum":1},"example":20},{"name":"sort","in":"query","description":"정렬 (RELEVANCE: 관련도순(기본), RECENT: 최신순)","required":false,"schema":{"type":"string","enum":["RELEVANCE","RECENT"]},"example":"RELEVANCE"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponsePostSummaryResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"post":{"tags":["Posts"],"summary":"게시글 작성","description":"OAuth 인증된 사용자가 본문(+OG) 으로 새 게시글을 작성한다. 본문(JSON) + 이미지 0~10장을 multipart/form-data 로 함께 업로드한다. `post:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `post:write`.","operationId":"createPost","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/CreatePostRequest"},"images":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["request"]}}},"required":true},"responses":{"201":{"description":"작성 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostWriteResponse"}}}},"403":{"description":"scope 부족(`post:write` 미보유).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"이미지 검증 실패 (P0010 개수 / P0011 크기 / P0012 형식) 또는 request 유효성 실패 (C0005).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"502":{"description":"이미지 처리 실패 (P0013).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/jobs/platform":{"post":{"tags":["Jobs"],"summary":"채용공고 생성","description":"로켓펀치에서 지원 접수와 관리를 제공하는 공고를 생성한다. `job:write` scope 필요. 본문(JSON) + 이미지 0~10장을 multipart/form-data 로 업로드한다.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `job:write`.","operationId":"createJob","parameters":[{"name":"companyId","in":"query","description":"회사 handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/CreateJobRequest"},"images":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["request"]}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWriteResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events":{"get":{"tags":["Events"],"summary":"이벤트 검색·목록","description":"이벤트를 검색·필터링하여 페이지 단위로 조회한다. 키워드, 카테고리, 주제, 지역, 기간, 상태로 필터링하며, 시작일이 임박한 순(시작일 오름차순)으로 정렬한다.","operationId":"searchEvents","parameters":[{"name":"keyword","in":"query","description":"이벤트명/설명 검색어","required":false,"schema":{"type":"string","maxLength":100,"minLength":0}},{"name":"categories","in":"query","description":"카테고리 코드. 값은 /v1/codes/event-categories 참조","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"subjects","in":"query","description":"주제 코드. /v1/codes/event-subjects 참조","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"openTypes","in":"query","description":"오픈 타입: OFFLINE(오프라인·현장)/ONLINE(온라인)/ON_OFFLINE(온·오프라인 병행)/TBD(미정)","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"startDateFrom","in":"query","description":"시작일 ≥ (YYYY-MM-DD)","required":false,"schema":{"type":"string"},"example":"2026-06-01"},{"name":"startDateTo","in":"query","description":"시작일 ≤ (YYYY-MM-DD)","required":false,"schema":{"type":"string"}},{"name":"status","in":"query","description":"상태 필터(이벤트 기간 기준). UPCOMING(시작 전, startDate>현재)/ONGOING(진행 중)/CLOSED(종료, endDate<현재).","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"조회할 페이지 번호 (1부터 시작, 기본값 1)","required":false,"schema":{"type":"integer","format":"int32","minimum":1},"example":1},{"name":"pageSize","in":"query","description":"페이지 크기(1~50, 기본 20)","required":false,"schema":{"type":"integer","format":"int32","maximum":50,"minimum":1},"example":20},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseEventSummaryResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"post":{"tags":["Events"],"summary":"이벤트 생성","description":"OAuth 인증된 사용자가 이벤트를 생성한다. 소유 회사 ID 는 `companyId` 쿼리 파라미터로 받고, 요청(JSON) + 배너 이미지(필수) + 첨부파일(선택)을 multipart/form-data 로 업로드한다. 배너 파트가 없으면 400. `event:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"createEvent","parameters":[{"name":"companyId","in":"query","description":"소유 회사 handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/CreateEventRequest"},"banner":{"type":"string","format":"binary"},"attachments":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["banner","request"]}}},"required":true},"responses":{"201":{"description":"생성 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventWriteResponse"}}}},"403":{"description":"scope 부족(`event:write` 미보유).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"요청 유효성 실패 (C0005) 또는 이미지 검증 실패.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/tickets/free":{"post":{"tags":["Events"],"summary":"무료(FREE) 이벤트 티켓 생성","description":"OAuth 인증된 사용자가 무료 티켓을 생성한다. `POST /tickets/free` 경로이며 `event:write` scope 필요. price/currency 는 받지 않는다.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"createFreeEventTicket","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFreeTicketRequest"}}},"required":true},"responses":{"201":{"description":"생성 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TicketWriteResponse"}}}},"403":{"description":"scope 부족(`event:write` 미보유).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"요청 유효성 실패 또는 비즈니스 규칙 위반.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/tickets/charged":{"post":{"tags":["Events"],"summary":"유료(CHARGED) 이벤트 티켓 생성","description":"OAuth 인증된 사용자가 유료 티켓을 생성한다. `POST /tickets/charged` 경로이며 `event:write` scope 필요. price(>0) 필수.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"createChargedEventTicket","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateChargedTicketRequest"}}},"required":true},"responses":{"201":{"description":"생성 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TicketWriteResponse"}}}},"403":{"description":"scope 부족(`event:write` 미보유).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"요청 유효성 실패 또는 비즈니스 규칙 위반(price 누락/0 이하 등).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/sessions":{"get":{"tags":["Events"],"summary":"이벤트 세션(타임테이블) 조회","description":"이벤트의 세션을 진행 시간대별로 묶어 조회한다. 세션이 없으면 빈 배열을, 존재하지 않는 이벤트는 404(EV001)를 반환한다.","operationId":"getEventSessions","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string","maxLength":64,"minLength":0},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공. 세션이 없으면 빈 배열.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventSessionTimeSlotResponse"}}}}},"404":{"description":"이벤트가 존재하지 않는 경우 (EV001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"post":{"tags":["Events"],"summary":"이벤트 세션 생성","description":"OAuth 인증된 사용자가 이벤트 세션을 생성한다. `event:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"createEventSession","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSessionRequest"}}},"required":true},"responses":{"201":{"description":"생성 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionWriteResponse"}}}},"403":{"description":"scope 부족(`event:write` 미보유).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/hosts":{"post":{"tags":["Events"],"summary":"이벤트 호스트 추가","description":"OAuth 인증된 사용자가 이벤트 호스트를 추가한다. `event:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"addEventHost","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddHostRequest"}}},"required":true},"responses":{"201":{"description":"추가 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HostWriteResponse"}}}},"403":{"description":"scope 부족(`event:write` 미보유).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/faqs":{"get":{"tags":["Events"],"summary":"이벤트 FAQ 조회","description":"이벤트의 FAQ를 카테고리별로 묶어 조회한다. FAQ가 없으면 빈 배열을, 존재하지 않는 이벤트는 404(EV001)를 반환한다.","operationId":"getEventFaqs","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string","maxLength":64,"minLength":0},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공. FAQ가 없으면 빈 배열.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventFaqCategoryResponse"}}}}},"404":{"description":"이벤트가 존재하지 않는 경우 (EV001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"post":{"tags":["Events"],"summary":"이벤트 FAQ 생성","description":"OAuth 인증된 사용자가 이벤트 FAQ를 생성한다. `event:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"createEventFaq","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateFaqRequest"}}},"required":true},"responses":{"201":{"description":"생성 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaqWriteResponse"}}}},"403":{"description":"scope 부족(`event:write` 미보유).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/jobs/{jobId}":{"get":{"tags":["Jobs"],"summary":"채용공고 상세 조회","description":"채용공고 단건 상세를 조회한다. 삭제·임시저장(draft) 공고를 제외한 모든 공고를 200 으로 응답한다 (published, finish, 그리고 모집 종료된 published 포함). 응답의 status·hiring 필드 조합으로 현재 노출 상태를 구분한다. 지원 가능 여부는 `status==\"published\" && hiring==true` 일 때만 true 로 판정하면 된다. 그 외 케이스(`hiring==false` 또는 `status==\"finish\"`) 는 모집이 종료된 공고이므로 지원 버튼을 비활성화하거나 마감 배지를 노출하는 것을 권장한다.","operationId":"getJob","parameters":[{"name":"jobId","in":"path","description":"채용공고 ID","required":true,"schema":{"type":"integer","format":"int64","exclusiveMinimum":0},"example":9001234},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/JobDetailResponse"}}}},"404":{"description":"채용공고가 존재하지 않거나, 임시저장(draft) 상태인 경우 (R0001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"delete":{"tags":["Jobs"],"summary":"채용공고 삭제","description":"채용공고를 삭제한다. `job:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `job:write`.","operationId":"deleteJob","parameters":[{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"companyId","in":"query","description":"회사 handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"삭제 성공"},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Jobs"],"summary":"채용공고 부분 수정","description":"PLATFORM 채용공고를 부분 수정(PATCH)한다. 전송된 필드만 변경. `type=PLATFORM` 필수. `job:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `job:write`.","operationId":"updatePlatformJob","parameters":[{"name":"type","in":"query","description":"수정 대상 공고 타입. 지원 값은 PLATFORM 이다.","required":true,"schema":{"type":"string","enum":["PLATFORM"]},"example":"PLATFORM"},{"name":"jobId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"companyId","in":"query","description":"회사 handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/UpdateJobRequest"},"images":{"type":"array","items":{"type":"string","format":"binary"}}},"required":["request"]}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobWriteResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}":{"get":{"tags":["Events"],"summary":"이벤트 상세 조회","description":"이벤트 ID로 상세 정보를 조회한다. 존재하지 않는 이벤트는 404(EV001)를 반환한다.","operationId":"getEvent","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string","maxLength":64,"minLength":0},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventDetailResponse"}}}},"404":{"description":"이벤트가 존재하지 않는 경우 (EV001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}},"delete":{"tags":["Events"],"summary":"이벤트 삭제","description":"OAuth 인증된 사용자가 이벤트를 **영구 삭제**한다. `event:write` scope 필요.\n\n티켓 또는 참가자가 **없는** 이벤트만 삭제할 수 있으며, 삭제 시 이벤트와 모든 하위 데이터(세션·FAQ·태그·번역·호스트·첨부 등)가 함께 영구 삭제된다.\n티켓이나 참가자가 있는 이벤트는 이 API로 삭제할 수 없다(409). 해당 이벤트는 로켓펀치 엔터프라이즈 웹에서 삭제해야 한다.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"deleteEvent","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"삭제 성공 (빈 body). 이벤트와 모든 하위 데이터가 영구 삭제됨."},"403":{"description":"scope 부족 또는 권한 없음.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"티켓 또는 참가자가 있어 삭제할 수 없음(EV022). 로켓펀치 엔터프라이즈 웹에서 삭제해야 함.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Events"],"summary":"이벤트 수정","description":"OAuth 인증된 사용자가 이벤트를 부분 수정한다. `event:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"patchEvent","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"request":{"$ref":"#/components/schemas/EventPatchRequest"},"banner":{"type":"string","format":"binary"}},"required":["request"]}}},"required":true},"responses":{"200":{"description":"수정 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventWriteResponse"}}}},"403":{"description":"scope 부족 또는 권한 없음.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/tickets/{ticketId}":{"delete":{"tags":["Events"],"summary":"이벤트 티켓 삭제","description":"OAuth 인증된 사용자가 이벤트 티켓을 삭제한다. `event:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"deleteEventTicket","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"ticketId","in":"path","description":"티켓 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"삭제 성공 (빈 body)."},"403":{"description":"scope 부족 또는 권한 없음.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Events"],"summary":"이벤트 티켓 수정","description":"OAuth 인증된 사용자가 이벤트 티켓을 부분 수정한다. `event:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"patchEventTicket","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"ticketId","in":"path","description":"티켓 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchTicketRequest"}}},"required":true},"responses":{"200":{"description":"수정 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TicketWriteResponse"}}}},"403":{"description":"scope 부족 또는 권한 없음.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/sessions/{sessionId}":{"delete":{"tags":["Events"],"summary":"이벤트 세션 삭제","description":"OAuth 인증된 사용자가 이벤트 세션을 삭제한다. `event:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"deleteEventSession","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"sessionId","in":"path","description":"세션 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"삭제 성공 (빈 body)."},"403":{"description":"scope 부족 또는 권한 없음.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Events"],"summary":"이벤트 세션 수정","description":"OAuth 인증된 사용자가 이벤트 세션을 수정한다. `event:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"patchEventSession","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"sessionId","in":"path","description":"세션 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchSessionRequest"}}},"required":true},"responses":{"200":{"description":"수정 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionWriteResponse"}}}},"403":{"description":"scope 부족 또는 권한 없음.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/hosts/{hostId}":{"delete":{"tags":["Events"],"summary":"이벤트 호스트 삭제","description":"OAuth 인증된 사용자가 이벤트 호스트를 삭제한다. `event:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"removeEventHost","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"hostId","in":"path","description":"호스트 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"삭제 성공 (빈 body)."},"403":{"description":"scope 부족 또는 권한 없음.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Events"],"summary":"이벤트 호스트 역할 수정","description":"OAuth 인증된 사용자가 이벤트 호스트 역할을 수정한다. `event:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"updateEventHostRole","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"hostId","in":"path","description":"호스트 ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateHostRoleRequest"}}},"required":true},"responses":{"200":{"description":"수정 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HostWriteResponse"}}}},"403":{"description":"scope 부족 또는 권한 없음.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/events/{eventId}/faqs/{faqId}":{"delete":{"tags":["Events"],"summary":"이벤트 FAQ 삭제","description":"OAuth 인증된 사용자가 이벤트 FAQ를 삭제한다. `event:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"deleteEventFaq","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"faqId","in":"path","description":"FAQ ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"204":{"description":"삭제 성공 (빈 body)."},"403":{"description":"scope 부족 또는 권한 없음.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["Events"],"summary":"이벤트 FAQ 수정","description":"OAuth 인증된 사용자가 이벤트 FAQ를 수정한다. `event:write` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `event:write`.","operationId":"patchEventFaq","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string"},"example":"8H2KQ9XJ4P"},{"name":"faqId","in":"path","description":"FAQ ID","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PatchFaqRequest"}}},"required":true},"responses":{"200":{"description":"수정 성공.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FaqWriteResponse"}}}},"403":{"description":"scope 부족 또는 권한 없음.","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/oauth/userinfo":{"get":{"tags":["OAuth UserInfo"],"summary":"OAuth 사용자 정보 조회","description":"OIDC UserInfo Standard Claims 형태와 호환되는 응답을 제공한다. `profile` scope 가 필요하며, 이메일은 access token 에 `email` scope 가 추가로 있을 때만 포함된다. 이 엔드포인트는 ID Token 을 발급하지 않는다.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `profile`.","operationId":"getOAuthUserInfo","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공. 인가되지 않았거나 값이 없는 선택 claim 은 응답에서 생략된다.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OAuthUserInfoResponse"}}}},"401":{"description":"Bearer access token 누락 또는 무효. `WWW-Authenticate` challenge 를 반환한다."},"403":{"description":"`profile` scope 부족(C0011). `WWW-Authenticate` insufficient_scope challenge 를 반환한다.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/oauth/authorize":{"get":{"tags":["OAuth Authorization"],"summary":"인가 화면 / 동의","description":"OAuth 2.0 Authorization Code + PKCE(S256) 흐름의 1단계. 사용자를 이 URL 로 리다이렉트하면 로켓펀치 로그인 후, 기존의 유효한 동의가 요청 scope를 포함하면 동의 화면 없이 등록된 redirect_uri 로 일회용 `code` 와 `state` 가 돌아온다. 유효한 동의가 없거나 scope·동의 버전·만료 조건이 달라지면 동의 화면을 노출한다 (성공: 302 `code`+`state`, 사용자 거부 등 실패: 302 `error`+`state`, client_id 미등록·redirect_uri 불일치: redirect 없이 400 HTML). 현재 공개 동의 scope는 `profile`, `email`이며 함께 요청된 scope는 전체 승인 또는 거절한다. 받은 `code` 는 `POST /oauth/token`(grant_type=authorization_code)에서 `code_verifier` 와 함께 access token 으로 교환한다. `code_challenge = BASE64URL(SHA256(code_verifier))`.","operationId":"oauthAuthorize","parameters":[{"name":"response_type","in":"query","description":"항상 code","required":true,"schema":{"type":"string"}},{"name":"client_id","in":"query","description":"등록된 OAuth 클라이언트 ID","required":true,"schema":{"type":"string"}},{"name":"redirect_uri","in":"query","description":"사전 등록된 redirect URI 와 글자 단위로 일치해야 함","required":true,"schema":{"type":"string"}},{"name":"scope","in":"query","description":"요청 scope (공백 구분)","required":true,"schema":{"type":"string"}},{"name":"state","in":"query","description":"CSRF 방지용 opaque 값 (권장)","required":false,"schema":{"type":"string"}},{"name":"code_challenge","in":"query","description":"PKCE code challenge (BASE64URL(SHA256(verifier)))","required":true,"schema":{"type":"string"}},{"name":"code_challenge_method","in":"query","description":"항상 S256","required":true,"schema":{"type":"string"}},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"동의 화면 (HTML)","content":{"text/html":{}}},"302":{"description":"인가 결과 redirect (성공: code+state, 실패: error+error_description+state per RFC 6749 §4.1.2.1)","headers":{"Location":{"description":"callback URL with query params","style":"simple","schema":{"type":"string"}}},"content":{"*/*":{"schema":{"type":"object"}}}},"400":{"description":"client_id 미등록 또는 redirect_uri 불일치 — HTML 에러 페이지, redirect 안 함","content":{"text/html":{}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[]}},"/api/v1/me/company-permissions":{"get":{"tags":["Me"],"summary":"내 회사 전역 권한 목록","description":"내가 회사 전역 역할을 보유한 회사 목록과 각 회사에서 수행 가능한 Open API 작업(capabilities). 리소스 단위 역할만 있는 회사는 포함되지 않는다(→ resource-roles 로 확인). `company:manage:read` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `company:manage:read`.","operationId":"getMyCompanyPermissions","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공(권한 보유 회사 없으면 빈 배열).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeCompanyPermissionsResponse"}}}},"403":{"description":"scope 부족(`company:manage:read` 미보유, C0011).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/me/company-permissions/{companyPermalink}/resource-roles":{"get":{"tags":["Me"],"summary":"리소스 단위 권한 조회(정밀 체크/목록)","description":"특정 리소스(이벤트/공고)에 대한 수행 가능 Open API 작업(capabilities). resourceId 지정 시 정밀 체크(0~1건), 미지정 시 회사 전역 권한 또는 리소스 직접 권한으로 접근 가능한 리소스 목록(페이지네이션). JOB 목록은 draft 를 제외한다. 응답은 항상 `items` 리스트. `company:manage:read` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `company:manage:read`.","operationId":"getMyResourceRoles","parameters":[{"name":"companyPermalink","in":"path","description":"회사 식별자(permalink)","required":true,"schema":{"type":"string"},"example":"rocketpunch"},{"name":"resourceType","in":"query","description":"리소스 타입(EVENT|JOB)","required":true,"schema":{"type":"string"},"example":"EVENT"},{"name":"resourceId","in":"query","description":"정밀 체크 대상 리소스 식별자(문자열). 미지정 시 목록 모드.","required":false,"schema":{"type":"string"},"example":9876},{"name":"page","in":"query","description":"목록 모드 페이지(1부터)","required":false,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"pageSize","in":"query","description":"목록 모드 페이지 크기(1~50, 기본 20)","required":false,"schema":{"type":"integer","format":"int32"},"example":20},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공(권한 없으면 빈 items).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MeResourceRolesResponse"}}}},"403":{"description":"scope 부족(C0011).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"permalink 에 해당하는 회사 없음(C0008).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"400":{"description":"resourceType 누락 또는 EVENT/JOB 외 값(C0005).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/jobs":{"get":{"tags":["Jobs"],"summary":"채용공고 검색·목록","description":"모집중인 채용공고를 검색·페이지네이션 조회한다. 같은 필터의 여러 값은 OR, 서로 다른 필터는 AND 로 결합된다.","operationId":"searchJobs","parameters":[{"name":"keyword","in":"query","description":"제목/내용 검색어","required":false,"schema":{"type":"string","maxLength":100,"minLength":0}},{"name":"companyId","in":"query","description":"검색할 회사 handle","required":false,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"}},{"name":"jobCategories","in":"query","description":"직군 코드. /v1/codes/job-categories 참조","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"seniorities","in":"query","description":"숙련도: BEGINNER/JUNIOR/MIDLEVEL/SENIOR/EXECUTIVE","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"employmentTypes","in":"query","description":"고용형태. /v1/codes/employment-types 참조","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"companySizes","in":"query","description":"회사 규모: TINY/SMALL/MEDIUM/LARGE/HUGE","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"workTypes","in":"query","description":"근무형태: ONSITE/HYBRID/REMOTE","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"name":"sort","in":"query","description":"정렬: RELEVANCE_DESC(관련도순, 기본)/DATE_DESC(최신순)/POPULARITY_DESC(인기순)","required":false,"schema":{"type":"string"}},{"name":"page","in":"query","description":"조회할 페이지 번호 (1부터 시작, 기본값 1)","required":false,"schema":{"type":"integer","format":"int32","minimum":1},"example":1},{"name":"pageSize","in":"query","description":"페이지 크기(1~50, 기본 20)","required":false,"schema":{"type":"integer","format":"int32","maximum":50,"minimum":1},"example":20},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseJobSummaryResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/events/{eventId}/tickets":{"get":{"tags":["Events"],"summary":"이벤트 티켓 목록 조회","description":"이벤트의 티켓 목록을 표시 순서대로 조회한다. 티켓이 없으면 빈 배열을, 존재하지 않는 이벤트는 404(EV001)를 반환한다.","operationId":"getEventTickets","parameters":[{"name":"eventId","in":"path","description":"이벤트 ID","required":true,"schema":{"type":"string","maxLength":64,"minLength":0},"example":"8H2KQ9XJ4P"},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"조회 성공. 티켓이 없으면 빈 배열.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EventTicketResponse"}}}}},"404":{"description":"이벤트가 존재하지 않는 경우 (EV001).","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/companies/{companyId}/jobs/accessible":{"get":{"tags":["Jobs"],"summary":"접근 가능한 회사 공고 목록","description":"회사 공고 중 호출자가 조회 권한을 가진 공고만 반환한다. ENT_JOB_LIST 보유 시 회사 전체, 없으면 ENT_JOB_VIEW 단건 권한 공고만 반환한다. `job:manage:read` scope 필요.\n\n인증: `Authorization: Bearer <jwt>` 헤더가 필요하다.\n\n필수 OAuth scope: `job:manage:read`.","operationId":"listAccessibleCompanyJobs","parameters":[{"name":"companyId","in":"path","description":"회사 handle","required":true,"schema":{"type":"string","maxLength":255,"minLength":0,"pattern":"^[A-Za-z0-9_-]+$"},"example":"rocketpunch"},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"pageSize","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseJobWriteResponse"}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}},"security":[{"bearerAuth":[]}]}},"/api/v1/codes/seniorities":{"get":{"tags":["Codes"],"summary":"숙련도 코드","description":"채용공고 검색의 `seniorities` 필터 값.","operationId":"getSeniorities","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/job-industries":{"get":{"tags":["Codes"],"summary":"채용 산업분야 코드","description":"채용공고 검색의 산업분야 필터 값. level 1~3 계층 구조로 반환한다.","operationId":"getJobIndustries","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/JobIndustryCodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/job-categories":{"get":{"tags":["Codes"],"summary":"채용 직군 코드","description":"채용공고 검색의 `jobCategories` 필터 값.","operationId":"getJobCategories","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/event-subjects":{"get":{"tags":["Codes"],"summary":"이벤트 주제 코드","description":"이벤트 검색의 `subjects` 필터 값.","operationId":"getEventSubjects","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/event-categories":{"get":{"tags":["Codes"],"summary":"이벤트 카테고리 코드","description":"이벤트 검색의 `categories` 필터 값.","operationId":"getEventCategories","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}},"/api/v1/codes/employment-types":{"get":{"tags":["Codes"],"summary":"고용형태 코드","description":"채용공고 검색의 `employmentTypes` 필터 값.","operationId":"getEmploymentTypes","parameters":[{"in":"header","$ref":"#/components/parameters/AcceptLanguage"}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CodeResponse"}}}}},"429":{"$ref":"#/components/responses/RateLimitExceeded"}}}}},"components":{"schemas":{"ErrorResponse":{"description":"공통 에러 응답","properties":{"code":{"type":"string","description":"에러 코드 (문서 에러 코드 표 참조)","example":"C0005"},"message":{"type":"string","description":"사람이 읽을 수 있는 에러 메시지","example":"요청 값이 올바르지 않습니다."},"timestamp":{"type":"string","format":"date-time","example":"2026-05-20T09:00:00"},"details":{"oneOf":[{"type":"string","description":"문제가 된 입력 항목","example":"startDate"},{"type":"null"}]}},"required":["code","message","timestamp"]},"OpenGraphRequest":{"type":"object","properties":{"link":{"type":"string","description":"원본 링크. 서버가 이 URL 을 크롤링해 OG 메타(제목/출처/이미지/설명)를 채운다.","example":"https://example.com","maxLength":200,"minLength":0}},"required":["link"]},"UpdatePostRequest":{"type":"object","properties":{"text":{"type":"string","description":"게시글 본문 (최대 5,000자)","example":"수정된 게시글 본문 내용","maxLength":5000,"minLength":0},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphRequest"},{"type":"null"}]}},"required":["text"]},"OpenGraphResponse":{"type":"object","properties":{"link":{"type":"string","description":"원본 링크"},"title":{"type":["string","null"],"description":"OG 제목"},"source":{"type":["string","null"],"description":"OG 출처"},"image":{"type":["string","null"],"description":"OG 이미지(외부 절대 URL)"},"description":{"type":["string","null"],"description":"OG 설명"}},"required":["link"]},"PostImageResponse":{"type":"object","description":"게시글 이미지","properties":{"id":{"type":"integer","format":"int32","description":"core_media.id","example":12345},"url":{"type":"string","description":"이미지 절대 URL","example":"https://cdn.example.com/images/2026/5/30/abcdef.jpg"},"width":{"type":["integer","null"],"format":"int32","description":"이미지 너비(px). 측정 실패 시 null.","example":1920},"height":{"type":["integer","null"],"format":"int32","description":"이미지 높이(px). 측정 실패 시 null.","example":1080}},"required":["id","url"]},"PostWriteResponse":{"type":"object","description":"게시글 작성/수정 응답","properties":{"postId":{"type":"integer","format":"int64","description":"게시글 ID","example":12345678},"content":{"type":"string","description":"게시글 본문"},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphResponse"},{"type":"null"}]},"images":{"type":"array","description":"첨부 이미지 (0~10장).","items":{"$ref":"#/components/schemas/PostImageResponse"}},"webUrl":{"type":"string","description":"게시글 웹 URL","example":"https://www.rocketpunch.com/post/12345678"},"postedAt":{"type":"string","description":"게시 시각 (ISO 8601 UTC)","example":"2026-05-29T09:00:00Z"},"updatedAt":{"type":"string","description":"수정 시각 (ISO 8601 UTC)","example":"2026-05-29T09:00:00Z"}},"required":["content","images","postId","postedAt","updatedAt","webUrl"]},"JobActiveRequest":{"type":"object","properties":{"startDate":{"oneOf":[{"type":"string","format":"date"},{"type":"null"}]},"endDate":{"oneOf":[{"type":"string","format":"date"},{"type":"null"}]}}},"JobWriteResponse":{"type":"object","properties":{"jobId":{"type":"integer","format":"int64"},"status":{"type":"string"},"hiring":{"type":"boolean"},"title":{"type":"string"},"subtitle":{"type":["string","null"]},"jobCategory":{"type":["string","null"]},"seniorities":{"type":"array","items":{"type":"string"}},"employmentTypes":{"type":"array","items":{"type":"string"}},"workType":{"type":["string","null"]},"startAt":{"type":["string","null"]},"endAt":{"type":["string","null"]},"webUrl":{"type":"string"}},"required":["employmentTypes","hiring","jobId","seniorities","status","title","webUrl"]},"OAuthAuthorizationCodeTokenRequest":{"description":"grant_type=authorization_code 토큰 교환 요청","properties":{"grant_type":{"type":"string","enum":["authorization_code"],"example":"authorization_code"},"code":{"type":"string","description":"GET /oauth/authorize 응답으로 받은 1회용 코드"},"redirect_uri":{"type":"string","description":"authorize 단계와 글자 단위로 동일","example":"https://builder.example.com/callback"},"code_verifier":{"type":"string","description":"PKCE verifier (43–128자, [A-Za-z0-9._~-])","maxLength":128,"minLength":43},"client_id":{"type":"string","description":"Basic Auth 사용 시 생략 가능"},"client_secret":{"type":"string","description":"Basic Auth 사용 시 생략 가능"}},"required":["code","code_verifier","grant_type","redirect_uri"]},"OAuthRefreshTokenRequest":{"description":"grant_type=refresh_token 갱신 요청","properties":{"grant_type":{"type":"string","enum":["refresh_token"],"example":"refresh_token"},"refresh_token":{"type":"string","description":"갱신에 사용할 refresh token","example":"rt_..."},"scope":{"type":"string","description":"원본 scope 의 부분집합 (downscope only)"},"client_id":{"type":"string","description":"Basic Auth 사용 시 생략 가능"},"client_secret":{"type":"string","description":"Basic Auth 사용 시 생략 가능"}},"required":["grant_type","refresh_token"]},"OAuthTokenResponse":{"type":"object","description":"RFC 6749 §5.1 토큰 응답","properties":{"access_token":{"type":"string","description":"Bearer 액세스 토큰 (JWT)","example":"eyJhbGciOiJSUzI1NiJ9..."},"token_type":{"type":"string","description":"토큰 타입 — 항상 Bearer","example":"Bearer"},"expires_in":{"type":"integer","format":"int64","description":"액세스 토큰 유효 시간 (초)","example":3600},"refresh_token":{"type":"string","description":"갱신 토큰 평문 (1회용)","example":"rt_a1b2c3d4..."},"scope":{"type":"string","description":"발급된 scope (공백 구분)","example":"profile:read"}},"required":["access_token","expires_in","refresh_token","scope","token_type"]},"OAuthErrorResponse":{"type":"object","description":"RFC 6749 §5.2 OAuth 에러 응답","properties":{"error":{"type":"string","enum":["invalid_request","invalid_client","invalid_grant","unauthorized_client","unsupported_grant_type","invalid_scope","server_error"],"example":"invalid_grant"},"error_description":{"type":"string","description":"사람이 읽는 짧은 영문 메시지","example":"Authorization code expired or already used."}},"required":["error"]},"OAuthRevokeRequest":{"description":"RFC 7009 토큰 폐기 요청","properties":{"token":{"type":"string","description":"폐기할 refresh token","minLength":1},"token_type_hint":{"type":"string","enum":["refresh_token"]},"client_id":{"type":"string","description":"Basic Auth 사용 시 생략 가능"},"client_secret":{"type":"string","description":"Basic Auth 사용 시 생략 가능"}},"required":["token"]},"CreatePostRequest":{"type":"object","properties":{"text":{"type":"string","description":"게시글 본문 (최대 5,000자)","example":"게시글 본문 내용","maxLength":5000,"minLength":0},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphRequest"},{"type":"null"}]}},"required":["text"]},"ApplicationSettingRequest":{"type":"object","properties":{"type":{"type":"string","enum":["RESUME","COVER_LETTER","PORTFOLIO","CUSTOM"]},"title":{"type":["string","null"],"maxLength":50,"minLength":0},"required":{"type":"boolean","default":false},"uploadType":{"type":"string","default":"ANY","enum":["FILE","URL","ANY"]}},"required":["type"]},"CreateJobRequest":{"type":"object","properties":{"jobTitle":{"type":"string","maxLength":30,"minLength":1},"jobSubtitle":{"type":["string","null"],"maxLength":50,"minLength":0},"jobCategory":{"type":"string","minLength":1},"seniorities":{"type":"array","items":{"type":"string"},"minItems":1},"employmentTypes":{"type":"array","items":{"type":"string"},"minItems":1},"workType":{"type":"string","enum":["ONSITE","HYBRID","REMOTE"]},"jobBio":{"type":"string","minLength":1},"jobResponse":{"type":"string","minLength":1},"jobMinimumQual":{"type":["string","null"]},"jobPreferQual":{"type":["string","null"]},"jobBenefit":{"type":["string","null"]},"jobHireProcess":{"type":["string","null"]},"jobHireNotes":{"type":["string","null"]},"startDate":{"type":"string","format":"date"},"endDate":{"type":["string","null"],"format":"date"},"email":{"type":["string","null"],"format":"email"},"notifyEmails":{"type":"array","items":{"type":"string"},"maxItems":10,"minItems":0},"settings":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationSettingRequest"},"minItems":1},"military":{"type":"boolean","default":false},"veteran":{"type":"boolean","default":false}},"required":["employmentTypes","jobBio","jobCategory","jobResponse","jobTitle","seniorities","settings","startDate"]},"CreateEventRequest":{"type":"object","properties":{"eventName":{"type":"string","maxLength":100,"minLength":1},"description":{"type":"string","minLength":1},"eventCategories":{"type":"array","items":{"type":"string"},"minItems":1},"eventSubjects":{"type":"array","items":{"type":"string"},"minItems":1},"accessType":{"type":"string","enum":["PUBLIC","INVITE","LINK"]},"eventOpenType":{"type":"string","enum":["OFFLINE","ONLINE","ON_OFFLINE","TBD"]},"joinType":{"type":"string","enum":["OPEN","REGISTERED"]},"startAt":{"type":"string","format":"date-time"},"endAt":{"type":"string","format":"date-time"},"country":{"type":["string","null"]},"region":{"type":["string","null"]},"locality":{"type":["string","null"]},"locationTitle":{"type":["string","null"]},"locationAddress":{"type":["string","null"]},"locationDetail":{"type":["string","null"]},"locationDescription":{"type":["string","null"]},"latitude":{"type":["number","null"]},"longitude":{"type":["number","null"]},"onlineLink":{"type":["string","null"]},"locationHidden":{"type":"boolean","default":false},"guestHidden":{"type":"boolean","default":false},"hosts":{"type":"array","items":{"$ref":"#/components/schemas/HostInput"}}},"required":["accessType","description","endAt","eventCategories","eventName","eventOpenType","eventSubjects","hosts","joinType","startAt"]},"HostInput":{"type":"object","properties":{"hostType":{"type":"string","enum":["COMPANY","MEMBER"]},"hostId":{"type":"string","maxLength":255,"minLength":1,"pattern":"^[A-Za-z0-9_-]+$"},"roleTypes":{"type":"array","default":[],"items":{"type":"string"}}},"required":["hostId","hostType"]},"EventWriteResponse":{"type":"object","properties":{"eventId":{"type":"string"},"webUrl":{"type":"string"}},"required":["eventId","webUrl"]},"CreateFreeTicketRequest":{"type":"object","properties":{"ticketName":{"type":"string","maxLength":200,"minLength":1},"description":{"type":["string","null"]},"approvalRequired":{"type":"boolean","default":false},"waitingRequired":{"type":"boolean","default":false},"maxCount":{"type":["integer","null"],"format":"int32"},"salesStartAt":{"type":"string","format":"date-time"},"salesEndAt":{"type":"string","format":"date-time"},"formFields":{"type":"array","default":[],"items":{"$ref":"#/components/schemas/FormFieldRequest"}}},"required":["ticketName"]},"FormFieldRequest":{"type":"object","properties":{"fieldLabel":{"type":"string","minLength":1},"fieldType":{"type":"string","enum":["PHONE","WEB3_WALLET","TEXT","LONG_TEXT","CHECKBOX","SELECT","EDUCATION_VERIFICATION"]},"required":{"type":"boolean","default":false},"options":{"type":["array","null"],"items":{"type":"string"}},"schoolId":{"type":["integer","null"],"format":"int64"}},"required":["fieldLabel","fieldType"]},"TicketWriteResponse":{"type":"object","properties":{"ticketId":{"type":"integer","format":"int64"}},"required":["ticketId"]},"CreateChargedTicketRequest":{"type":"object","properties":{"ticketName":{"type":"string","maxLength":200,"minLength":1},"description":{"type":["string","null"]},"currency":{"type":["string","null"]},"price":{"type":"number","minimum":0},"approvalRequired":{"type":"boolean","default":false},"waitingRequired":{"type":"boolean","default":false},"maxCount":{"type":["integer","null"],"format":"int32"},"salesStartAt":{"type":"string","format":"date-time"},"salesEndAt":{"type":"string","format":"date-time"},"formFields":{"type":"array","default":[],"items":{"$ref":"#/components/schemas/FormFieldRequest"}}},"required":["price","ticketName"]},"CreateSessionRequest":{"type":"object","properties":{"day":{"type":"string"},"startTime":{"type":"string"},"endTime":{"type":"string"},"sessionName":{"type":"string","minLength":1},"description":{"type":["string","null"]},"videoUrl":{"type":["string","null"]},"thumbnailPath":{"type":["string","null"]},"sortNo":{"type":"integer","format":"int32","default":0},"speakers":{"type":"array","default":[],"items":{"$ref":"#/components/schemas/SpeakerInputRequest"}}},"required":["day","endTime","sessionName","startTime"]},"SpeakerInputRequest":{"type":"object","properties":{"speakerName":{"type":"string","minLength":1},"jobOrDept":{"type":["string","null"]}},"required":["speakerName"]},"SessionWriteResponse":{"type":"object","properties":{"sessionId":{"type":"integer","format":"int64"}},"required":["sessionId"]},"AddHostRequest":{"type":"object","properties":{"hostType":{"type":"string","enum":["COMPANY","MEMBER"]},"hostId":{"type":"string","maxLength":255,"minLength":1,"pattern":"^[A-Za-z0-9_-]+$"},"role":{"type":"string","enum":["ORGANIZER","SPONSOR","PARTNER"]}},"required":["hostId","hostType","role"]},"HostWriteResponse":{"type":"object","properties":{"hostId":{"type":"integer","format":"int64"}},"required":["hostId"]},"CreateFaqRequest":{"type":"object","properties":{"categoryName":{"type":"string","minLength":1},"title":{"type":"string","minLength":1},"content":{"type":"string"},"sortNo":{"type":"integer","format":"int32","default":0}},"required":["categoryName","content","title"]},"FaqWriteResponse":{"type":"object","properties":{"faqId":{"type":"integer","format":"int64"}},"required":["faqId"]},"UpdateJobRequest":{"type":"object","properties":{"jobTitle":{"type":"string"},"jobSubtitle":{"oneOf":[{"type":"string"},{"type":"null"}]},"jobCategory":{"type":"string"},"seniorities":{"type":"array","items":{"type":"string","enum":["BEGINNER","JUNIOR","MIDLEVEL","SENIOR","EXECUTIVE"]}},"employmentTypes":{"type":"array","items":{"type":"string","enum":["FULL_TIME","FIXED_TERM","COMMISSIONED","INTERN","FREELANCER","SELF_EMPLOYED"]}},"workType":{"type":"string","enum":["ONSITE","HYBRID","REMOTE"]},"jobBio":{"type":"string"},"jobResponse":{"type":"string"},"jobMinimumQual":{"oneOf":[{"type":"string"},{"type":"null"}]},"jobPreferQual":{"oneOf":[{"type":"string"},{"type":"null"}]},"jobBenefit":{"oneOf":[{"type":"string"},{"type":"null"}]},"jobHireProcess":{"oneOf":[{"type":"string"},{"type":"null"}]},"jobHireNotes":{"oneOf":[{"type":"string"},{"type":"null"}]},"email":{"oneOf":[{"type":"string"},{"type":"null"}]},"notifyEmails":{"type":"array","items":{"type":"string"}},"settings":{"type":"array","items":{"$ref":"#/components/schemas/ApplicationSettingRequest"}},"military":{"type":"boolean","default":false},"veteran":{"type":"boolean","default":false}}},"EventPatchRequest":{"type":"object","properties":{"eventName":{"type":"string"},"description":{"type":"string"},"accessType":{"type":"string","enum":["PUBLIC","INVITE","LINK"]},"eventOpenType":{"type":"string","enum":["OFFLINE","ONLINE","ON_OFFLINE","TBD"]},"joinType":{"type":"string","enum":["OPEN","REGISTERED"]},"startAt":{"type":"string","format":"date-time"},"endAt":{"type":"string","format":"date-time"},"onlineLink":{"oneOf":[{"type":"string"},{"type":"null"}]},"country":{"oneOf":[{"type":"string"},{"type":"null"}]},"region":{"oneOf":[{"type":"string"},{"type":"null"}]},"locality":{"oneOf":[{"type":"string"},{"type":"null"}]},"locationTitle":{"oneOf":[{"type":"string"},{"type":"null"}]},"locationAddress":{"oneOf":[{"type":"string"},{"type":"null"}]},"locationDetail":{"oneOf":[{"type":"string"},{"type":"null"}]},"locationDescription":{"oneOf":[{"type":"string"},{"type":"null"}]},"locationHidden":{"type":"boolean"},"guestHidden":{"type":"boolean"},"eventCategories":{"type":"array","items":{"type":"string","enum":["MARKET","FAIR","CONFERENCE","NETWORKING","BUSINESS","COMPETITION","LIFESTYLE"]}},"eventSubjects":{"type":"array","items":{"type":"string","enum":["WEB3","TECHNOLOGY","PRODUCT","FINANCE","HUMANITIES","BUSINESS","CULTURE"]}}}},"PatchTicketRequest":{"type":"object","properties":{"ticketName":{"type":"string"},"ticketType":{"oneOf":[{"type":"string","enum":["FREE","CHARGED"]},{"type":"null"}]},"description":{"type":"string"},"approvalRequired":{"type":"boolean"},"waitingRequired":{"type":"boolean"},"maxCount":{"oneOf":[{"type":"integer","format":"int32"},{"type":"null"}]},"salesStartAt":{"oneOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"salesEndAt":{"oneOf":[{"type":"string","format":"date-time"},{"type":"null"}]},"price":{"oneOf":[{"type":"number"},{"type":"null"}]},"currency":{"oneOf":[{"type":"string"},{"type":"null"}]}}},"PatchSessionRequest":{"type":"object","properties":{"sessionName":{"type":"string"},"description":{"oneOf":[{"type":"string"},{"type":"null"}]},"videoUrl":{"oneOf":[{"type":"string"},{"type":"null"}]},"thumbnailPath":{"oneOf":[{"type":"string"},{"type":"null"}]},"sortNo":{"type":"integer","format":"int32"},"speakers":{"type":"array","items":{"$ref":"#/components/schemas/SpeakerInputRequest"}}}},"UpdateHostRoleRequest":{"type":"object","properties":{"role":{"type":"string","enum":["ORGANIZER","SPONSOR","PARTNER"]}},"required":["role"]},"PatchFaqRequest":{"type":"object","properties":{"title":{"type":"string"},"content":{"type":"string"}}},"OAuthUserInfoResponse":{"type":"object","description":"OIDC Standard Claims 형태와 호환되는 사용자 정보. 인가되지 않았거나 값이 없는 claim 은 생략된다.","properties":{"sub":{"type":"string","description":"Open API 서비스 전체에서 동일한 불변 외부 사용자 식별자","example":"OA-0123456789abcdef0123456789abcdef"},"name":{"type":["string","null"],"description":"표시 이름 (`profile` scope)","example":"로켓펀치"},"preferred_username":{"type":"string","description":"프로필 permalink (`profile` scope)","example":"rocketpunch"},"picture":{"type":["string","null"],"description":"절대 프로필 이미지 URL (`profile` scope)","example":"https://image.rocketpunch.com/user/123/profile.png"},"email":{"type":["string","null"],"format":"email","description":"이메일 주소 (`email` scope 가 추가로 있을 때만 포함)","example":"user@example.com"}},"required":["sub"]},"PageResponsePostSummaryResponse":{"type":"object","description":"페이지네이션 응답. page 는 1부터 시작하며, page > totalPages 인 경우 items 는 빈 배열이다.","properties":{"totalItems":{"type":"integer","format":"int64","description":"전체 항목 수"},"totalPages":{"type":"integer","format":"int32","description":"전체 페이지 수"},"page":{"type":"integer","format":"int32","description":"현재 페이지 번호 (1부터 시작)"},"pageSize":{"type":"integer","format":"int32","description":"페이지 크기"},"items":{"type":"array","description":"현재 페이지 항목","items":{"$ref":"#/components/schemas/PostSummaryResponse"}}},"required":["items","page","pageSize","totalItems","totalPages"]},"PostAuthorResponse":{"type":"object","properties":{"type":{"type":"string","description":"작성자 유형","enum":["COMPANY","MEMBER"],"example":"COMPANY"},"id":{"type":["string","null"],"description":"작성자 식별자(handle)"},"name":{"type":"string","description":"작성자명"},"imageUrl":{"type":["string","null"],"description":"작성자 이미지 URL(COMPANY=회사 로고, MEMBER=프로필 이미지)"},"certificated":{"type":"boolean","description":"인플루언서 인증여부"}},"required":["certificated","name","type"]},"PostStatsResponse":{"type":"object","properties":{"likeCount":{"type":["integer","null"],"format":"int64","description":"좋아요 수"},"commentCount":{"type":["integer","null"],"format":"int64","description":"댓글 수"}}},"PostSummaryResponse":{"type":"object","properties":{"postId":{"type":"integer","format":"int64","description":"게시글 ID","example":9876543},"author":{"$ref":"#/components/schemas/PostAuthorResponse","description":"작성자"},"content":{"type":["string","null"],"description":"게시글 본문"},"images":{"type":"array","description":"이미지 목록","items":{"$ref":"#/components/schemas/PostImageResponse"}},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphResponse"},{"type":"null"}]},"stats":{"$ref":"#/components/schemas/PostStatsResponse","description":"누적 통계"},"owned":{"type":"boolean","description":"현재 인증된 사용자의 게시글 여부 (Bearer 토큰 없으면 항상 false)"},"webUrl":{"type":"string","description":"게시글 웹 URL","example":"https://www.rocketpunch.com/post/9876543"},"postedAt":{"type":"string","description":"게시 시각(목록은 원시 LocalDateTime 문자열, 타임존 없음)"}},"required":["author","images","owned","postId","postedAt","stats","webUrl"]},"MentionResponse":{"type":"object","properties":{"name":{"type":"string","description":"이름"},"id":{"type":"string","description":"식별자(handle)"}},"required":["id","name"]},"PostDetailResponse":{"type":"object","description":"게시글 상세","properties":{"postId":{"type":"integer","format":"int64","description":"게시글 ID","example":9876543},"author":{"$ref":"#/components/schemas/PostAuthorResponse","description":"작성자"},"content":{"type":["string","null"],"description":"게시글 본문"},"language":{"type":["string","null"],"description":"콘텐츠 언어"},"images":{"type":"array","description":"이미지 목록","items":{"$ref":"#/components/schemas/PostImageResponse"}},"og":{"oneOf":[{"$ref":"#/components/schemas/OpenGraphResponse"},{"type":"null"}]},"mentions":{"$ref":"#/components/schemas/PostMentionsResponse","description":"멘션"},"repostedPost":{"oneOf":[{"$ref":"#/components/schemas/PostDetailResponse"},{"type":"null"}]},"repostedPostDeleted":{"type":"boolean","description":"재게시 원본 삭제 여부"},"stats":{"$ref":"#/components/schemas/PostStatsResponse","description":"누적 통계"},"owned":{"type":"boolean","description":"현재 인증된 사용자의 게시글 여부 (Bearer 토큰 없으면 항상 false)"},"webUrl":{"type":"string","description":"게시글 웹 URL","example":"https://www.rocketpunch.com/post/9876543"},"postedAt":{"type":"string","description":"게시 시각 (ISO 8601 UTC)"},"updatedAt":{"type":"string","description":"수정 시각 (ISO 8601 UTC)"}},"required":["author","images","mentions","owned","postId","postedAt","repostedPostDeleted","stats","updatedAt","webUrl"]},"PostMentionsResponse":{"type":"object","properties":{"companies":{"type":"array","description":"멘션된 회사","items":{"$ref":"#/components/schemas/MentionResponse"}},"users":{"type":"array","description":"멘션된 사용자","items":{"$ref":"#/components/schemas/MentionResponse"}}},"required":["companies","users"]},"CompanyRefResponse":{"type":"object","properties":{"permalink":{"type":"string","description":"회사 식별자(permalink)","example":"rocketpunch"},"name":{"type":["string","null"],"description":"회사명","example":"로켓펀치"},"logoUrl":{"type":["string","null"],"description":"로고 URL"}},"required":["permalink"]},"MeCompanyPermissionResponse":{"type":"object","properties":{"company":{"$ref":"#/components/schemas/CompanyRefResponse"},"capabilities":{"type":"array","description":"수행 가능한 Open API 작업(클라이언트 분기 기준)","example":["event:create","job:create"],"items":{"type":"string"}}},"required":["capabilities","company"]},"MeCompanyPermissionsResponse":{"type":"object","description":"내가 회사 전역 역할을 보유한 회사 목록과 수행 가능 작업.","properties":{"companies":{"type":"array","items":{"$ref":"#/components/schemas/MeCompanyPermissionResponse"}}},"required":["companies"]},"MeResourceRoleItemResponse":{"type":"object","properties":{"resourceType":{"type":"string","description":"리소스 타입","enum":["EVENT","JOB"]},"resourceId":{"type":"string","description":"리소스 식별자(문자열)","example":"9876"},"capabilities":{"type":"array","description":"합산 역할 기준 수행 가능 작업(클라이언트 분기 기준)","items":{"type":"string"}}},"required":["capabilities","resourceId","resourceType"]},"MeResourceRolesResponse":{"type":"object","description":"리소스 단위 권한. resourceId 지정=정밀 체크(0~1건), 미지정=접근 가능 리소스 목록(페이지네이션).","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/MeResourceRoleItemResponse"}}},"required":["items"]},"JobCompanyResponse":{"type":"object","properties":{"id":{"type":["string","null"],"description":"회사 식별자(handle)"},"name":{"type":"string","description":"회사명"},"logoUrl":{"type":["string","null"],"description":"로고 URL"},"industry":{"type":["string","null"],"description":"산업군"},"size":{"type":["string","null"],"description":"회사 규모","enum":["TINY","SMALL","MEDIUM","LARGE","HUGE"]}},"required":["name"]},"JobSummaryResponse":{"type":"object","description":"채용공고 목록 아이템","properties":{"jobId":{"type":"integer","format":"int64","description":"채용공고 ID","example":9001234},"title":{"type":"string","description":"공고 제목","example":"백엔드 엔지니어 (Kotlin/Spring)"},"subtitle":{"type":["string","null"],"description":"공고 부제목"},"jobCategory":{"type":["string","null"],"description":"직군 코드"},"seniorities":{"type":"array","description":"숙련도 목록","items":{"type":"string"}},"employmentTypes":{"type":"array","description":"고용형태 목록","items":{"type":"string"}},"workType":{"type":["string","null"],"description":"근무 방식","enum":["ONSITE","HYBRID","REMOTE"]},"company":{"$ref":"#/components/schemas/JobCompanyResponse","description":"회사 정보"},"endAt":{"type":["string","null"],"description":"모집 종료(목록은 원시 LocalDateTime 문자열, 상시채용이면 null)"},"webUrl":{"type":"string","description":"로켓펀치 페이지 URL"}},"required":["company","employmentTypes","jobId","seniorities","title","webUrl"]},"PageResponseJobSummaryResponse":{"type":"object","description":"페이지네이션 응답. page 는 1부터 시작하며, page > totalPages 인 경우 items 는 빈 배열이다.","properties":{"totalItems":{"type":"integer","format":"int64","description":"전체 항목 수"},"totalPages":{"type":"integer","format":"int32","description":"전체 페이지 수"},"page":{"type":"integer","format":"int32","description":"현재 페이지 번호 (1부터 시작)"},"pageSize":{"type":"integer","format":"int32","description":"페이지 크기"},"items":{"type":"array","description":"현재 페이지 항목","items":{"$ref":"#/components/schemas/JobSummaryResponse"}}},"required":["items","page","pageSize","totalItems","totalPages"]},"ApplyMethodResponse":{"type":"object","properties":{"type":{"type":"string","description":"지원 방식","enum":["PLATFORM","OUTLINK"],"example":"OUTLINK"},"url":{"type":["string","null"],"description":"지원 URL"}},"required":["type"]},"JobDetailResponse":{"type":"object","description":"채용공고 상세. status·hiring 필드는 직교 차원으로 응답 가능한 4가지 조합을 갖는다: (1) status=published, hiring=true → 모집 진행중(지원 가능), (2) status=published, hiring=false → 노출 상태이나 모집 종료(시간 만료 또는 회사가 일시 마감, 재오픈 가능성 있음), (3) status=finish, hiring=false → 회사가 명시적으로 채용 종료(영구 마감), (4) status=finish, hiring=true → 데이터 정합성 상 거의 발생하지 않음. 지원 가능 여부 판정은 (1) 케이스만, 마감 표시는 (2)(3) 모두 적용 권장.","properties":{"jobId":{"type":"integer","format":"int64","description":"채용공고 ID","example":9001234},"status":{"type":"string","description":"공고 상태. published=현재 노출중(모집중 또는 모집 종료), finish=회사가 명시적으로 채용 종료 처리한 공고. 삭제·임시저장 공고는 응답되지 않는다.","enum":["published","finish"],"example":"published"},"hiring":{"type":"boolean","description":"모집중 여부. true=모집 진행중, false=모집 종료(검색·목록에는 노출되지 않으며 상세에만 응답)","example":true},"title":{"type":"string","description":"공고 제목","example":"백엔드 엔지니어 (Kotlin/Spring)"},"subtitle":{"type":["string","null"],"description":"공고 부제목"},"jobCategory":{"type":["string","null"],"description":"직군 코드"},"seniorities":{"type":"array","description":"숙련도 목록","items":{"type":"string"}},"employmentTypes":{"type":"array","description":"고용형태 목록","items":{"type":"string"}},"workType":{"type":["string","null"],"description":"근무 방식","enum":["ONSITE","HYBRID","REMOTE"]},"language":{"type":["string","null"],"description":"콘텐츠 언어"},"description":{"type":["string","null"],"description":"상세 내용"},"duty":{"type":["string","null"],"description":"주요 업무"},"minimumQualification":{"type":["string","null"],"description":"자격 요건"},"preferredQualification":{"type":["string","null"],"description":"우대 사항"},"benefit":{"type":["string","null"],"description":"복지/혜택"},"hireProcess":{"type":["string","null"],"description":"채용 절차"},"hireNotes":{"type":["string","null"],"description":"참고 사항"},"jobImages":{"type":"array","description":"공고 이미지 URL 목록","items":{"type":"string"}},"allowRemote":{"type":"boolean","description":"원격근무 허용"},"company":{"$ref":"#/components/schemas/JobCompanyResponse","description":"회사 정보"},"applyMethod":{"$ref":"#/components/schemas/ApplyMethodResponse","description":"지원 방법"},"startAt":{"type":["string","null"],"description":"모집 시작 ISO-8601 UTC"},"endAt":{"type":["string","null"],"description":"모집 종료 ISO-8601 UTC(상시채용이면 null, 과거 시각이면 모집 종료된 공고)"},"webUrl":{"type":"string","description":"로켓펀치 페이지 URL"},"createdAt":{"type":"string","description":"생성 시각 ISO-8601 UTC"}},"required":["allowRemote","applyMethod","company","createdAt","employmentTypes","hiring","jobId","jobImages","seniorities","status","title","webUrl"]},"EventHostResponse":{"type":"object","properties":{"hostType":{"type":"string","description":"호스트 유형","enum":["COMPANY"],"example":"COMPANY"},"name":{"type":"string","description":"호스트명"},"id":{"type":["string","null"],"description":"회사 식별자(handle)"},"profileImageUrl":{"type":["string","null"],"description":"프로필 이미지 URL"},"roles":{"type":"array","description":"역할 목록","enum":["ORGANIZER","SPONSOR","PARTNER"],"items":{"type":"string"}}},"required":["hostType","name","roles"]},"EventStatsResponse":{"type":"object","properties":{"viewCount":{"type":["integer","null"],"format":"int64","description":"조회수"},"guestCount":{"type":["integer","null"],"format":"int64","description":"참여자 수(비공개면 null)"}}},"EventSummaryResponse":{"type":"object","properties":{"eventId":{"type":"string","description":"이벤트 ID","example":"8H2KQ9XJ4P"},"eventName":{"type":"string","description":"이벤트명","example":"2026 AI 컨퍼런스"},"eventCategories":{"type":"array","description":"이벤트 카테고리","items":{"type":"string"}},"eventSubjects":{"type":"array","description":"이벤트 주제","items":{"type":"string"}},"startAt":{"type":"string","description":"시작 일시","example":"2026-09-01T10:00"},"endAt":{"type":"string","description":"종료 일시","example":"2026-09-01T18:00"},"eventOpenType":{"type":"string","description":"진행 방식: OFFLINE(오프라인)/ONLINE(온라인)/ON_OFFLINE(온·오프라인)/TBD(미정)","enum":["OFFLINE","ONLINE","ON_OFFLINE","TBD"],"example":"OFFLINE"},"location":{"oneOf":[{"$ref":"#/components/schemas/LocationResponse"},{"type":"null"}]},"bannerUrl":{"type":["string","null"],"description":"배너 이미지 URL"},"hosts":{"type":"array","description":"호스트 목록","items":{"$ref":"#/components/schemas/EventHostResponse"}},"stats":{"$ref":"#/components/schemas/EventStatsResponse","description":"누적 통계"},"webUrl":{"type":"string","description":"로켓펀치 페이지 URL"}},"required":["endAt","eventCategories","eventId","eventName","eventOpenType","eventSubjects","hosts","startAt","stats","webUrl"]},"LocationResponse":{"type":"object","properties":{"country":{"type":["string","null"],"description":"국가 코드(ISO alpha-2)","example":"KR"},"region":{"type":["string","null"],"description":"광역 행정구역","example":"서울특별시"},"locality":{"type":["string","null"],"description":"시/군/구","example":"강남구"},"placeName":{"type":["string","null"],"description":"장소명","example":"코엑스 그랜드볼룸"},"address":{"type":["string","null"],"description":"주소(도로명/지번)","example":"서울특별시 강남구 영동대로 513"},"addressDetail":{"type":["string","null"],"description":"건물 내 상세 위치","example":"B1 그랜드볼룸"},"directions":{"type":["string","null"],"description":"찾아오는 길/교통편 안내","example":"2호선 삼성역 5번출구 도보 5분"},"latitude":{"type":["number","null"],"description":"위도"},"longitude":{"type":["number","null"],"description":"경도"}}},"PageResponseEventSummaryResponse":{"type":"object","description":"페이지네이션 응답. page 는 1부터 시작하며, page > totalPages 인 경우 items 는 빈 배열이다.","properties":{"totalItems":{"type":"integer","format":"int64","description":"전체 항목 수"},"totalPages":{"type":"integer","format":"int32","description":"전체 페이지 수"},"page":{"type":"integer","format":"int32","description":"현재 페이지 번호 (1부터 시작)"},"pageSize":{"type":"integer","format":"int32","description":"페이지 크기"},"items":{"type":"array","description":"현재 페이지 항목","items":{"$ref":"#/components/schemas/EventSummaryResponse"}}},"required":["items","page","pageSize","totalItems","totalPages"]},"EventAttachmentResponse":{"type":"object","properties":{"url":{"type":"string","description":"이미지 URL"},"fileName":{"type":["string","null"],"description":"파일명"}},"required":["url"]},"EventDetailResponse":{"type":"object","description":"이벤트 상세","properties":{"eventId":{"type":"string","description":"이벤트 ID","example":"8H2KQ9XJ4P"},"eventName":{"type":"string","description":"이벤트명","example":"2026 AI 컨퍼런스"},"descriptionHtml":{"type":["string","null"],"description":"이벤트 설명 본문 (HTML)"},"language":{"type":["string","null"],"description":"콘텐츠 언어","example":"ko"},"eventStatus":{"type":"string","description":"이벤트 상태: PUBLISHED(공개)/CANCELED(취소)","enum":["PUBLISHED","CANCELED"],"example":"PUBLISHED"},"eventCategories":{"type":"array","description":"이벤트 카테고리","items":{"type":"string"}},"eventSubjects":{"type":"array","description":"이벤트 주제","items":{"type":"string"}},"startAt":{"type":"string","description":"시작 ISO-8601 UTC","example":"2026-09-01T10:00:00Z"},"endAt":{"type":"string","description":"종료 ISO-8601 UTC","example":"2026-09-01T18:00:00Z"},"eventOpenType":{"type":"string","description":"진행 방식: OFFLINE(오프라인)/ONLINE(온라인)/ON_OFFLINE(온·오프라인)/TBD(미정)","enum":["OFFLINE","ONLINE","ON_OFFLINE","TBD"],"example":"OFFLINE"},"joinType":{"type":"string","description":"참가 방식: OPEN(자유 참가)/REGISTERED(사전 등록)","enum":["OPEN","REGISTERED"],"example":"REGISTERED"},"bannerUrl":{"type":["string","null"],"description":"배너 이미지 URL"},"attachments":{"type":"array","description":"첨부 이미지","items":{"$ref":"#/components/schemas/EventAttachmentResponse"}},"location":{"oneOf":[{"$ref":"#/components/schemas/LocationResponse"},{"type":"null"}]},"onlineLink":{"type":["string","null"],"description":"온라인 참가 링크 (제공되는 경우에만 포함)"},"hosts":{"type":"array","description":"호스트 목록","items":{"$ref":"#/components/schemas/EventHostResponse"}},"stats":{"$ref":"#/components/schemas/EventStatsResponse","description":"누적 통계"},"webUrl":{"type":"string","description":"로켓펀치 페이지 URL","example":"https://www.rocketpunch.com/event/8H2KQ9XJ4P"},"createdAt":{"type":"string","description":"생성 시각 ISO-8601 UTC"}},"required":["attachments","createdAt","endAt","eventCategories","eventId","eventName","eventOpenType","eventStatus","eventSubjects","hosts","joinType","startAt","stats","webUrl"]},"EventTicketResponse":{"type":"object","description":"이벤트 티켓","properties":{"ticketName":{"type":"string","description":"티켓명"},"ticketType":{"type":"string","description":"티켓 유형: FREE(무료)/CHARGED(유료)","enum":["FREE","CHARGED"]},"description":{"type":["string","null"],"description":"티켓 설명"},"price":{"type":["number","null"],"description":"가격(유료 티켓)"},"currency":{"type":["string","null"],"description":"통화 코드","example":"KRW"},"saleStartAt":{"type":"string","description":"판매 시작 ISO-8601 UTC","example":"2026-08-01T00:00:00Z"},"saleEndAt":{"type":"string","description":"판매 종료 ISO-8601 UTC","example":"2026-08-31T23:59:59Z"},"approvalRequired":{"type":"boolean","description":"참가 승인 필요 여부. true면 신청 후 주최자 승인을 받아야 참가가 확정된다."},"waitingRequired":{"type":"boolean","description":"대기 신청(웨이팅) 허용 여부. true인 티켓은 매진 상태에서 대기 신청을 받는다. 따라서 '지금 대기 신청이 가능한지'는 `waitingRequired && soldOut` 으로 판단한다."},"maxPerPerson":{"type":["integer","null"],"format":"int32","description":"1인당 최대 구매 수량"},"soldOut":{"type":"boolean","description":"매진 여부. 잔여 수량이 0이면 true다."}},"required":["approvalRequired","saleEndAt","saleStartAt","soldOut","ticketName","ticketType","waitingRequired"]},"EventSessionResponse":{"type":"object","description":"이벤트 세션","properties":{"sessionName":{"type":"string","description":"세션명"},"description":{"type":["string","null"],"description":"세션 설명"},"videoUrl":{"type":["string","null"],"description":"영상 URL"},"thumbnailUrl":{"type":["string","null"],"description":"썸네일 이미지 URL"},"speakers":{"type":"array","description":"연사 목록","items":{"$ref":"#/components/schemas/EventSessionSpeakerResponse"}},"tags":{"type":"array","description":"태그 목록","items":{"type":"string"}}},"required":["sessionName","speakers","tags"]},"EventSessionSpeakerResponse":{"type":"object","description":"세션 연사","properties":{"name":{"type":"string","description":"연사명"},"jobOrDept":{"type":["string","null"],"description":"직함/소속"}},"required":["name"]},"EventSessionTimeSlotResponse":{"type":"object","description":"이벤트 타임슬롯(세션 그룹)","properties":{"day":{"type":"string","description":"진행 날짜(YYYY-MM-DD)","example":"2026-09-01"},"startTime":{"type":"string","description":"시작 시각(HH:mm)","example":"10:00"},"endTime":{"type":"string","description":"종료 시각(HH:mm)","example":"11:00"},"sessions":{"type":"array","description":"세션 목록 (진행 순서)","items":{"$ref":"#/components/schemas/EventSessionResponse"}}},"required":["day","endTime","sessions","startTime"]},"EventFaqCategoryResponse":{"type":"object","description":"이벤트 FAQ 카테고리","properties":{"categoryName":{"type":"string","description":"카테고리명"},"faqs":{"type":"array","description":"FAQ 목록 (표시 순서)","items":{"$ref":"#/components/schemas/EventFaqResponse"}}},"required":["categoryName","faqs"]},"EventFaqResponse":{"type":"object","description":"이벤트 FAQ","properties":{"title":{"type":"string","description":"질문"},"content":{"type":"string","description":"답변"}},"required":["content","title"]},"PageResponseJobWriteResponse":{"type":"object","description":"페이지네이션 응답. page 는 1부터 시작하며, page > totalPages 인 경우 items 는 빈 배열이다.","properties":{"totalItems":{"type":"integer","format":"int64","description":"전체 항목 수"},"totalPages":{"type":"integer","format":"int32","description":"전체 페이지 수"},"page":{"type":"integer","format":"int32","description":"현재 페이지 번호 (1부터 시작)"},"pageSize":{"type":"integer","format":"int32","description":"페이지 크기"},"items":{"type":"array","description":"현재 페이지 항목","items":{"$ref":"#/components/schemas/JobWriteResponse"}}},"required":["items","page","pageSize","totalItems","totalPages"]},"CodeResponse":{"type":"object","description":"코드 카탈로그 항목","properties":{"code":{"type":"string","description":"코드명","example":"CONFERENCE"},"displayName":{"type":"string","description":"Accept-Language(로케일)에 따라 번역된 표시명","example":"컨퍼런스"},"description":{"type":"string","description":"설명(없으면 빈 문자열)","example":"강연 · 세미나 · 포럼"}},"required":["code","description","displayName"]},"JobIndustryCodeResponse":{"type":"object","description":"채용 산업분야 코드 (계층 구조)","properties":{"code":{"type":"string","description":"코드명","example":"1000"},"displayName":{"type":"string","description":"Accept-Language(로케일)에 따라 번역된 표시명","example":"IT·웹·통신"},"children":{"type":["array","null"],"description":"하위 산업분야 목록(없으면 미포함)","items":{"$ref":"#/components/schemas/JobIndustryCodeResponse"}}},"required":["code","displayName"]},"EventCategoryCode":{"type":"string","description":"이벤트 카테고리 코드 카탈로그. 라벨/설명은 ko 기본값이며, 다국어 라벨은 `/api/v1/codes/*` 로 조회.\n\n| code | label | description |\n|---|---|---|\n| `MARKET` | 팝업스토어 | 한정 기간 행사 |\n| `FAIR` | 페어 | 박람회 · 전시회 |\n| `CONFERENCE` | 컨퍼런스 | 강연 · 세미나 · 포럼 |\n| `NETWORKING` | 네트워킹 | 밋업 · 멘토링 |\n| `BUSINESS` | 비즈니스 | IR · 런칭데이 |\n| `COMPETITION` | 대회 | 해커톤 · 공모전 |\n| `LIFESTYLE` | 라이프스타일 | 축제 · 공연 · 문화생활 |\n","enum":["MARKET","FAIR","CONFERENCE","NETWORKING","BUSINESS","COMPETITION","LIFESTYLE"]},"EventSubjectCode":{"type":"string","description":"이벤트 주제 코드 카탈로그. 라벨/설명은 ko 기본값이며, 다국어 라벨은 `/api/v1/codes/*` 로 조회.\n\n| code | label | description |\n|---|---|---|\n| `WEB3` | Web3 | 블록체인 · 암호화폐 |\n| `TECHNOLOGY` | 테크 | 인공지능 · 엔지니어링 · 연구 |\n| `PRODUCT` | 프로덕트 | 서비스 · 기획 · 디자인 · 마케팅 |\n| `FINANCE` | 파이낸스 | 자산 · 투자 · 재테크 · 금융 |\n| `HUMANITIES` | 인문 | 사회 · 기후 · 생명 · 종교 · 공익 |\n| `BUSINESS` | 비즈니스 | 사업 · 전략 · 조직 · 인사 · 영업 |\n| `CULTURE` | 컬쳐 | 게임 · 콘텐츠 · 아트 · 푸드 · 미디어 |\n","enum":["WEB3","TECHNOLOGY","PRODUCT","FINANCE","HUMANITIES","BUSINESS","CULTURE"]},"SeniorityCode":{"type":"string","description":"숙련도 코드 카탈로그. 라벨/설명은 ko 기본값이며, 다국어 라벨은 `/api/v1/codes/*` 로 조회.\n\n| code | label | description |\n|---|---|---|\n| `BEGINNER` | 신입 | 인턴 또는 실무 경험 없음 |\n| `JUNIOR` | 주니어 | 기초적인 업무 수행\n(1~3년차에 준하는 실력) |\n| `MIDLEVEL` | 미들 | 준수한 이해도, 프로젝트 전담\n(3~7년차에 준하는 실력) |\n| `SENIOR` | 시니어 | 높은 이해도, 다수로 구성된 팀 리드\n(7~15년차에 준하는 실력) |\n| `EXECUTIVE` | C레벨 | 전문가 수준, 임원급 의사결정권\n(15년 이상에 준하는 실력) |\n","enum":["BEGINNER","JUNIOR","MIDLEVEL","SENIOR","EXECUTIVE"]},"EmploymentTypeCode":{"type":"string","description":"고용형태 코드 카탈로그. 라벨/설명은 ko 기본값이며, 다국어 라벨은 `/api/v1/codes/*` 로 조회.\n\n| code | label | description |\n|---|---|---|\n| `FULL_TIME` | 정규직 |  |\n| `FIXED_TERM` | 계약직 |  |\n| `COMMISSIONED` | 위촉직 |  |\n| `INTERN` | 인턴/수습 |  |\n| `FREELANCER` | 프리랜서 |  |\n| `SELF_EMPLOYED` | 자영업/개인사업 |  |\n","enum":["FULL_TIME","FIXED_TERM","COMMISSIONED","INTERN","FREELANCER","SELF_EMPLOYED"]},"AuthorizationServerMetadata":{"description":"RFC 8414 메타데이터 응답","properties":{"issuer":{"type":"string","description":"인가 서버 발급자 URL","example":"https://openapi.rocketpunch.com"},"authorization_endpoint":{"type":"string","description":"인가 엔드포인트 URL","example":"https://openapi.rocketpunch.com/oauth/authorize"},"token_endpoint":{"type":"string","description":"토큰 엔드포인트 URL","example":"https://openapi.rocketpunch.com/oauth/token"},"revocation_endpoint":{"type":"string","description":"토큰 폐기 엔드포인트 URL","example":"https://openapi.rocketpunch.com/oauth/revoke"},"userinfo_endpoint":{"type":"string","description":"OIDC UserInfo 호환 엔드포인트 URL","example":"https://openapi.rocketpunch.com/oauth/userinfo"},"response_types_supported":{"type":"array","description":"지원하는 response_type 목록","example":["code"],"items":{"type":"string","description":"지원하는 response_type 목록","example":"[\"code\"]"}},"grant_types_supported":{"type":"array","description":"지원하는 grant_type 목록","example":["authorization_code","refresh_token"],"items":{"type":"string","description":"지원하는 grant_type 목록","example":"[\"authorization_code\",\"refresh_token\"]"}},"token_endpoint_auth_methods_supported":{"type":"array","description":"지원하는 토큰 엔드포인트 인증 방식","example":["client_secret_basic","client_secret_post"],"items":{"type":"string","description":"지원하는 토큰 엔드포인트 인증 방식","example":"[\"client_secret_basic\",\"client_secret_post\"]"}},"code_challenge_methods_supported":{"type":"array","description":"지원하는 PKCE code_challenge_method 목록","example":["S256"],"items":{"type":"string","description":"지원하는 PKCE code_challenge_method 목록","example":"[\"S256\"]"}},"scopes_supported":{"type":"array","description":"지원하는 scope 목록","example":["profile","email"],"items":{"type":"string","description":"지원하는 scope 목록","example":"[\"profile\",\"email\"]"}}},"required":["authorization_endpoint","code_challenge_methods_supported","grant_types_supported","issuer","response_types_supported","revocation_endpoint","scopes_supported","token_endpoint","token_endpoint_auth_methods_supported","userinfo_endpoint"]}},"responses":{"RateLimitExceeded":{"description":"Rate limit 초과. App Key 기준 전역 한도(분당 60 / 일 5,000) 또는 작업별 세부 한도(분/시/일)를 초과하면 응답한다. 작업별 세부 한도 초과 시 `X-RP-RateLimit-Scope` 헤더로 작업 구분이 제공된다. 현재 기본 한도는 문서 상단 Rate Limit 표를 참조한다.","headers":{"Retry-After":{"description":"재시도까지 대기 초","schema":{"type":"integer","format":"int32"}},"X-RP-RateLimit-Remaining":{"description":"현재 분 남은 호출 수","schema":{"type":"integer","format":"int32"}},"X-RP-RateLimit-Scope":{"description":"작업별 세부 한도를 초과한 경우의 작업 구분. 전역 한도만 초과한 경우 헤더 없음.","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"parameters":{"AcceptLanguage":{"name":"Accept-Language","in":"header","description":"응답 지원 로케일: ko, en, ja, zh-CN, zh-TW, es, fr, de, pt, th, vi. 미지정 시 ko 기본값","required":false,"schema":{"type":"string","example":"ko"}}},"securitySchemes":{"apiKey":{"type":"apiKey","name":"X-RP-API-Key","in":"header"},"oauth2":{"type":"oauth2","description":"현재 추가 scope 동의는 앱 소유자에게만 제공하며, 일반 사용자 지원은 추후 확대할 예정이다.","flows":{"authorizationCode":{"authorizationUrl":"https://developers.rocketpunch.com/oauth/authorize","tokenUrl":"https://openapi.rocketpunch.com/oauth/token","refreshUrl":"https://openapi.rocketpunch.com/oauth/token","scopes":{"profile":"내 프로필(이름·소셜 식별자) 조회","email":"내 이메일 주소 조회"}}}},"bearerAuth":{"type":"http","description":"사용자 컨텍스트 인증용 access token. `Authorization: Bearer <jwt>` 형식으로 전송한다. OAuth 클라이언트 앱이 Authorization Code + PKCE 흐름으로 발급받은 토큰을 사용한다.","scheme":"bearer","bearerFormat":"JWT"}}}}